[2015-08-13 19:24] alesch opened #6 "Thank you!"
I have been so frustrated with Velocity... and this just works.
I can even debug my tests within Webstorm, which is virtually impossible with Velocity.

Is there a mailing list, or forum, or group somewhere?

Thanks a million!

[2015-08-14 04:34] rbabayoff commented on #6
@alesch thanks so much for your positive feedback on our work. Yes, I do have a blog called [practicalmeteor](http://practicalmeteor.com/), where I'm about to post a howto on using this package in the browser and from the [command line](https://atmospherejs.com/practicalmeteor/mocha-console-reporter). I also hope to finally start work on a "continuous delivery with meteor" book, if time will ever

[2015-09-09 08:53] loirit opened #7 "Error for Pending test on the server"
Attempting to create a [pending test](http://mochajs.org/#pending-tests) that on the server causes the following error to be thrown:

[code]

Pending tests work just fine on the client.

[2015-09-10 16:00] jsep commented on #7
Yes its a bug, you can use `it.skip('test', function(){})` until we fix this issue. Thanks!

[2015-09-13 08:11] #7 closed

[2015-09-13 08:19] rbabayoff commented on #7
Fixed in v2.1.0_5. Let us know if it works.

[2015-09-14 04:12] loirit commented on #7
It's working correctly for me now.

[2015-09-22 04:15] ManuelDeLeon opened #9 "mocha.css will be ignored as UTF-8 is the only encoding supported"
I'm getting the following ~~error~~ warning when I run the tests:

`packages/practicalmeteor_mocha/mocha.css: warn: @charset rules in this file will be ignored as UTF-8 is the only encoding supported`

[2015-09-22 05:06] rbabayoff commented on #9
Its not an error, its a warning that won't fail your tests I beleive (please confirm), but we'll take a look at how to remove that warning.

[2015-10-02 08:59] loirit opened #11 "Server-side async test failures not showing in reporter"
The following line is being printed to the console:

``
(STDERR) MochaRunner.Meteor.publish.mochaServerRunEvents: failures: 1
``

But nothing is showing up in the HTML reporter.

[2015-10-02 18:56] jsep commented on #11
@loirit thanks for reporting the issue we will take a look

[2015-10-08 12:38] loirit commented on #11
For what it's worth, I was able to work around this by wrapping the assertions in a try-catch block and passing any errors to `done`.

[2015-10-13 03:21] paolo commented on #6
I'm also very thakful for this package and I'm going to wait for your blog post. I've also experienced a lot of frustrations with Velocity and The Meteor Testing book, which promised a lot but delivers so very little (for intermediate users at least). To be honest, if your post has examples on testing Methods, Publications, Templates, Helpers and Events plus running them along with the app and on

[2015-11-06 04:07] tmeasday commented on #11
I think the issue happens when you run fiber-y meteor code. See for instance: https://github.com/tmeasday/meteor-mocha-fibers-problem.git

[2015-11-06 05:11] tmeasday commented on #11
(Note that to make it happen you need to force a hot code reload for some reason)

[2015-11-06 16:21] rbabayoff commented on #11
@tmeasday thanks for the feedback. Your workaround is actually a standard practice that should be used with all testing frameworks in async tests, most of them will otherwise not know if an exception was raised in an async callback of a test. Some testing frameworks install an uncaught exception handler to deal with uncaught errors in async callbacks. Mocha is one of them, from what I know. But I

[2015-11-07 08:58] tmeasday commented on #11
Hi. I'm not sure that make sense though--There's no actual "async" involved in [my example](https://github.com/tmeasday/meteor-mocha-fibers-problem/blob/master/packages/tester/tester.js) (modulo fibers).

It should appear (from the perspective of mocha anyway) exactly the same as if the sleep wasn't there (in which case it works fine). The exception should bubble up the stack to mocha somewhere --

[2015-11-07 10:35] tmeasday commented on #11
I mean theoretically, if all you need to do is catch errors and hand them to the done call back, could the `it()` helper just be reimplemented as:

[code]

But I don't think that's really the issue..?

[2015-11-09 00:30] tmeasday commented on #11
Hey @rbabayoff - how do I run the package test suite (the tests in `test-package/mocha-tests.coffee`?) I'd like to add a test demonstrating the issue (which could help in getting to the bottom of it)..

[2015-11-09 02:00] tmeasday commented on #11
Ok, I think I sorted it out: https://github.com/tmeasday/meteor-mocha-core/commit/d1e056b00ee7812aa22dc4d832e8024068ff0767

I want to check with @stubailo that my changes make sense but will be sending PRs upstream soon.

Still don't know the exact explanation of the behaviour I was seeing with reload

[2015-11-09 04:40] tmeasday commented on #11
Ok, couldn't let it rest, figured out what the explanation was. It was a combination of things.

1. mocha-core (https://github.com/practicalmeteor/meteor-mocha/issues/11#issuecomment-154902071) wasn't properly catching exceptions thrown after a fiber yield and thus was throwing them on the process. This would ordinarily crash the entire server.

2. However, mocha also has a global uncaught excepti

[2015-11-10 01:59] rbabayoff commented on #11
@tmeasday , that's amazing. Thanks so much for figuring it out. We'll check it internally tomorrow and merge. I guess you figured out how to run the test-package, but if not (from repo root):

[code]

This package includes all types of tests, passing, failing, skipped, etc.

I guess to test the hot code push scenario, a functional test using selenium would probably be a good idea, I'll see when we

[2015-11-10 02:01] rbabayoff commented on #11
Sorry, just saw PR is not there yet. Will wait for your PR.

[2015-11-11 06:59] tmeasday commented on #11
Hi @rbabayoff I'm going to send a PR through to the upstream package (@rissem's), when I have a chance. I think my latest version of the code is more or less correct, just need to squash it and send the PR

[2015-11-12 02:34] tmeasday commented on #11
Ok, it seems like there's a complicated mess of different versions of this `server.js` file so I'm not sure where to send the PR.

I'm beginning to wonder why this is all so complicated anyway. Couldn't we just do this?

[code]

Does mocha run stuff in timeouts? Why do the it-blocks themselves need to be wrapped?

[2015-11-12 03:26] rbabayoff commented on #11
1. If the it ones are not wrapped, then in async tests meteor complains there are no fibers (if I recall correctly). Also, in mocha you can specify test timeouts, which present another issue, fibers wise. Welcome to the messy world of trying to wrap complex async libraries for meteor :-)

2. We cloned rissem's package, fixed some bugs and added some stuff, such as support for displaying server sid

[2015-11-12 04:27] tmeasday commented on #11
Hi @rbabayoff,

Ok, you are right; test timeouts would definitely be a problem.

So, `bindEnvironment` (rather than a simple fiber approach, ala https://github.com/practicalmeteor/meteor-mocha-core/compare/practicalmeteor...tmeasday:practicalmeteor) is only helpful if it is called from inside a method (in which case it makes `Meteor.userId()` and co works).

1. So I don't think it makes sense to u

[2015-11-17 00:39] rissem commented on #11
@tmeasday thanks for looking into this. I agree w/ everything in your comment above. And I apologize for creating a confusing mess here that you had to untangle. I mentioned this on another issue, but we should try to unify the mocha-core packages. I'm happy for the official mocha-core package to be https://github.com/practicalmeteor/meteor-mocha-core/. @rbabayoff thoughts? How much has this packa

[2015-11-17 20:13] rbabayoff commented on #11
@rissem I just created a PR to your core, so you can compare the changes https://github.com/rissem/meteor-mocha-core/pull/1

Yes, I also think that merging the 2 would be a great idea. If your OK with it, let's let @tmeasday create his PR into our mocha-core and then both @jsep, our lead developer on this, and you can check it on all the packages both of us have that already use mocha for tests.

[2015-11-18 01:57] tmeasday commented on #11
Do you guys want to take it to a sensible point and then I'll take a look at it? I think that probably makes the most sense as I'm not completely sure of what all the requirements are.

[2015-11-18 02:28] rbabayoff commented on #11
I recommend @jsep integrates your suggestions, and we'll see if nothing broke.

[2015-12-03 14:57] #9 closed

[2016-01-12 15:54] apendua commented on #11
@jsep Any progress on this one?

[2016-01-13 00:58] rbabayoff commented on #11
@apendua , yes, it should be solved in latest version 2.1.0_7.

Let me know if it works.

[2016-01-13 02:48] rbabayoff commented on #11
@tmeasday I think this is ready for prime time, including running mocha tests from the command line with  [spacejam](https://www.npmjs.com/package/spacejam).

We've integrated your suggestions, and also solved the uncaught exceptions stuff, both server and client side, allowing mocha to report them.

Let me know if this works for you.

[2016-01-13 08:37] apendua commented on #11
@rbabayoff Cool, thanks! Are you planning to release it anytime soon?

[2016-01-13 20:36] rbabayoff commented on #11
@apendua already released, v 2.1.0_7, update your dependency.

[2016-01-14 10:35] apendua commented on #11
@rbabayoff Nice, thanks!

[2016-01-18 03:51] tmeasday commented on #11
Thanks @rbabayoff, I'll update the dependency in the todos app and try it out.

[2016-01-25 16:28] apendua commented on #11
@rbabayoff It looks like updating to `2.1.0_7` has not solved the issue for me.

[2016-02-24 07:09] charue808 commented on #6
@rbabayoff Hi I was wondering if your practicalmeteor blog is down? I've been really interested in using practicalmeteor:mocha to test packages but I've been running into odd errors..So I've been hoping to find more resources to learn to use this package.

[2016-03-09 20:14] cj opened #15 "deploying 1.3-beta16 to production issue."
So I've checked and double check, it's starting the app in production mode  https://gist.github.com/2ba114003fcd8cb06707;  but I'm still getting this error https://gist.github.com/0d956727d203225c0a28

[2016-03-11 21:29] rbabayoff commented on #11
@apendua ok, we'll take another look at it. Can you provide a simple package repo that reproduces it?

[2016-03-12 08:49] apendua commented on #11
@rbabayoff Actually, I think I can see where the issue is right away. [Here](https://github.com/practicalmeteor/meteor-mocha-core/blob/practicalmeteor/server.js#L33) you should take into account the fact that the return value may be a promise.

[2016-03-12 08:54] apendua commented on #11
@rbabayoff Here's a reference implementation that works properly:

https://github.com/anticoders/gagarin/blob/master/lib/mocha/interface.js#L326-L363

[2016-03-16 12:54] johanbrook opened #17 "Getting RangeError when running on CI"
I'm getting this when running on CircleCI:

[code]

I'm using SpaceJam, and here's the test script:

[code]

This works good locally, so I find it really weird it doesn't run well on CI.

[2016-03-16 13:48] jsep commented on #17
Thanks @johanbrook  for testing our package.

Try the following:
1. Add the release option to spacejam. `spacejam --release 1.3-rc.1 ....`
2. Specify in our package `api.versionsFrom('1.3-rc.1)`.

This will force meteor to run with the latest versions of the packages.

[2016-03-16 13:49] johanbrook commented on #17
So basically running Meteor 1.3 when testing? I.e. is this issue fixed in 1.3?

[2016-03-16 13:54] jsep commented on #15
@cj have you tried this again with 1.3-rc1?

[2016-03-16 14:02] jsep commented on #17
Oh sorry @johanbrook since we are working with the integration for Meteor 1.3 I thougth it was 1.3 specific, my bad :sweat_smile:.

Can you provide code examples? Also we run into with a similar issue before and its fixed in the latest package and spacejam versions.

Please add `practicalmeteor:mocha` with constraint version in your `Package.onTest`.
For 1.2 and before use: `api.use('practicalmete

[2016-03-16 14:14] johanbrook commented on #17
I tried using `2.1.0_7` now and pushed to Circle (https://circleci.com/gh/lookback/meteor-dropdowns/45), but same error. The repo is here: https://github.com/lookback/meteor-dropdowns. CircleCI *should* use latest SpaceJam module from npm, so I don't understand what's different there. I noticed now that I run PhantomJS 2.0 locally though, might be different on Circle.

It's not a biggie: if it'll

[2016-03-16 14:37] jsep commented on #17
@johanbrook that's the problem, spacejam use phanthom 1.9, this version have problems with `Object.defineProperty` which its used by `chai.should` to add the `should` property to every object.

In phantom 2.1 this issue it's fixed, until we update to phantom 2.1 you can't use should.

[2016-03-16 14:43] johanbrook commented on #17
Ah, gotcha. Thanks for clarifying.

Is Phantom 2.1 fairly stable these days? Or, when will 2.1 be required of this package?

[2016-03-19 21:43] TimFletcher commented on #15
I'm getting the same error with 1.3-rc1 deploying to Galaxy

[code]

[2016-03-19 21:47] jsep commented on #15
Hi @TimFletcher, make sure you have the latest vesion of the package.

Please add practicalmeteor mocha with version constraint. `meteor add practicalmeteor:mocha@2.1.1-rc.1`. If your using with a package `api.use("practicalmeteor:mocha@2.1.1-rc.1")`

[2016-03-20 22:16] TimFletcher commented on #15
Thanks @jsep. It seems to be deploying without any issue on rc1 now.

[2016-03-21 05:34] tmeasday opened #18 "Server tests aren't running on 2.1.1-rc.1 for todos app"
Hey!

I switched the todos app from `avital:mocha`, but now I'm finding the server tests don't run.

You can try it out on the `pm-mocha` branch of the todos app: https://github.com/meteor/todos/tree/pm-mocha

[2016-03-21 17:36] jsep commented on #18
For me it's running as expected, I tested with latest meteor release (1.3-rc.4) including unit test and full app tests mode.

Running with unit tests:
![tests](https://cloud.githubusercontent.com/assets/4037939/13927809/9ded6cd6-ef69-11e5-8fa1-e866fa77e1cc.png)

Running full app tests:
![fullapp](https://cloud.githubusercontent.com/assets/4037939/13927839/b97217d6-ef69-11e5-9f2c-e85a7b9c0f01.png)

[2016-03-21 23:27] tmeasday commented on #18
Oh, how odd, now it's working for me. Let's pretend this never happened ;)

[2016-03-21 23:27] #18 closed

[2016-03-28 00:43] rbabayoff opened #19 "meteor 1.3 - unable to resolve modules warnings"
@tmeasday, I'm getting warnings that I didn't get with rc.1:

[code]

I think it has something to do with adding mocha as an npm dependency, which we didn't before - we used the browserified one for both client and server.

@jsep can you please check if that's the case?

Steps to reproduce: just update an app with mocha tests from 1.3-rc.1 to 1.3-rc.13 and run `meteor test --driver-package practic

[2016-03-28 01:58] tmeasday commented on #19
This appears to just be warnings that have been generated by analyzing some of the files in the package. Is this possible @benjamn?

Does the package end up using `jade` for instance?

[2016-03-29 20:23] rbabayoff commented on #19
@tmeasday and @benjamn it seems that you enabled warnings by default in rc.12:

https://github.com/meteor/meteor/compare/release/METEOR@1.3-rc.11...release/METEOR@1.3-rc.12?expand=1#diff-3396ab7aa5a3a2dbcfffa54934610c7bL854

Any plans to change that?

[2016-03-29 20:54] benjamn commented on #19
No, many of these warnings are from files imported by the package. The problem is Browserify bundles like https://github.com/mochajs/mocha/blob/master/mocha.js have their own implementation of `require`, and our attempts to detect that special case in the past (and ignore those dependencies) met with [worse problems](https://github.com/meteor/meteor/issues/6430#issuecomment-193512981).

I understa

[2016-03-29 21:01] rbabayoff commented on #19
@benjamn yes, we plan to, but we modified the mocha html reporter in the browserified version to be able to display 2 reportes in the same html page, so it will require a bit of work on our side - we want to create a pr into mocha itself with those changes, so meteor users can install whatever mocha versions they want.

So, basically, no plan to restore this?

https://github.com/meteor/meteor/comp

[2016-03-29 21:15] benjamn commented on #19
Checking `Console.isLevelEnabled(Console.LEVEL_WARN)` was wrong because there's no way to change that warning level such that the check would ever pass, so unfortunately it's not as simple as reverting that revert.

Even if we fixed the warning level logic to work properly, I'm not convinced these warnings should be hidden by default, because that's almost as bad as not having any warnings at all.

[2016-03-30 03:18] tmeasday opened #20 "Export mocha symbols"
It'd be cool if this package exported the various globals that Mocha sets.

Then you could write

[code]

and not have the linter complain about undefined symbols (or need to use the mocha linting env)

[2016-03-30 16:37] serut opened #21 "Height of the client side DOM when testing full-app"
When running `meteor test --full-app --driver=practicalmeteor:mocha`, your client side DOM is inside a block with 0px height.

That means that the jquery selector `:visible` is not usable anymore.
[code]

Is it possible to fix this behavior ?

[2016-03-31 04:54] XavaDigital opened #22 "Arguments not checked"
I'm running the test runner having just installed it and not written any tests yet. I have audit-argument-checks installed.

I'm seeing a couple of errors.

- Exception from sub mochaServerRunEvents id 5WAnND4B9E582sSPz Error: Did not check() all arguments during publisher 'mochaServerRunEvents'
- Exception while invoking method 'mocha/runServerTests' Error: Did not check() all arguments during ca

[2016-03-31 16:07] gadicc opened #23 "Conflict with dispatch:mocha-phantomjs?"
I'm running like this:

[code]

And everything works.  But if I add `dispatch:mocha-phantomjs` to my `.meteor/packages`, with no other changes, server tests no longer run, I get:

[code]

In case this doesn't affect all cases, there's a repro at https://github.com/gadicc/meteor-blaze-react-component/commit/6a0e529fc888f5c5485d3df17699d76d5855b860.

[2016-03-31 16:07] gadicc commented on #18
@tmeasday could this have been #23?

[2016-03-31 16:16] nhducit opened #24 "Change --save option to --save-dev in warning message"
In #19 issue's description, we should change **--save** to **--save-dev** because these are test dependencies.

warning from issue #19
[code]

warning from my machine:

[code]

[2016-03-31 22:44] tmeasday commented on #18
@gadicc maaaaybe. Although I don't think I removed mocha-phantomjs..

[2016-04-01 20:52] rbabayoff commented on #15
@cj, closing this, for now. Let us now if it doesn't work for you.

[2016-04-01 20:52] #15 closed

[2016-04-01 20:57] rbabayoff commented on #17
@johanbrook you can the latest version of phantomjs on your system, and then just run spacejam with --use-system-phantomjs. This will solve your problem - let us know it works so we can close this. We're about to also update the internal phantomjs in spacejam soon. See this issue for more info:

https://github.com/practicalmeteor/spacejam/issues/23#issuecomment-174550720

[2016-04-01 21:15] rbabayoff commented on #21
@serut this is the behavior of --full-app by design, this is a meteor issue, I suggest consulting @tmeasday about how meteor and us can support those types of tests. @tmeasday?

[2016-04-01 21:26] rbabayoff commented on #23
@gadicc , yes, we don't co-exist nicely, since both of us are adding mocha independently. I suggest you wait a couple of days until we get support for 1.3 in spacejam and practicalmeteor:mocha-console-runner.

Long term we hope to create a pr into mocha with the meteor specific support of having multiple html reporters to eliminate those things altogether, so you could just npm install mocha indep

[2016-04-01 21:30] rbabayoff commented on #24
@nhducit this is a warning message generated by meteor, not by us. Don't know if meteor supports --save-dev / devDependencies in 1.3. We need to check. Meteor should specify to --save-dev if those warning messages originate from code packages that are testOnly. @tmeasday / @benjamn?

[2016-04-01 21:36] rbabayoff commented on #22
@XavaDigital / @vangorra do all meteor packages with publish functions that don't check input arguments create the same problem when being added to an app with audit-argument-checks?

[2016-04-01 22:41] vangorra commented on #22
Yes, all meteor packages with publish/method functions that don't check input arguments create the same problem when being added to an app with audit-argument-checks.

I noticed you were using chai to perform those checks. Certainly a robust solution. Sadly however, calling check() will be necessary to avoid issues when projects use the audit-arguments-checks package.

On a related note:
It would

[2016-04-01 23:21] rbabayoff commented on #22
Got it @vangorra, will merge your pr shortly. And yes, it would, I really prefer chai's bdd syntax and the fact it has some amazing plugins, such as the sinon one we use extensively in our tests. Let's see if you or I ever get around to creating check-chai :-)

[2016-04-03 17:37] benjamn commented on #19
This should be fixed if you do `meteor update --release 1.3.1-rc.3`, soon to become 1.3.1. In short, we're not warning about missing modules for Meteor packages anymore, and we're also not warning about `require` calls when `require` is not a free variable (e.g. in Browserify/Webpack bundles).

[2016-04-04 01:50] johanbrook commented on #17
Ah, gotcha. Will try and get back to you.

[2016-04-04 13:49] quintstoffers opened #27 "Errors thrown in hooks aren't reported when testing packages"
Repro repo: https://github.com/quintstoffers/pm-mocha-hook-repro

An error in a `before` or `beforeEach` hook is registered as a failure, but the failing hook + stack trace is never shown in the reporter. It's manageable when running a small number of tests, but as projects grow bigger it gets more and more difficult to find the broken hook.

Oddly enough running the exact same test in `test` mode

[2016-04-04 15:20] jsep commented on #27
Thanks @quintstoffers  this will be fixed in the next release of the package

[2016-04-04 15:47] quintstoffers commented on #27
Perfect, thanks!

[2016-04-04 18:43] #22 closed

[2016-04-06 04:14] trusktr commented on #19
@benjamn What's a "free variable"?

[2016-04-06 19:08] tmeasday commented on #24
I think this would make sense if it's easy @benjamn?

[2016-04-06 19:14] tmeasday commented on #21
Yeah, it's a limitation of the `--full-app` test approach. My advice would be either:
1. Don't use visibility checks, instead just existence checks for DOM related stuff.
2. If you want to write tests that care about appearance based things, it's probably best to write an [acceptance test](http://guide.meteor.com/testing.html#acceptance-testing)

[2016-04-06 19:16] benjamn commented on #24
If you `meteor update` to 1.3.1, I believe these warnings will no longer appear at all, as we've disabled them for packages, pending a better solution like https://github.com/meteor/meteor/issues/6322.

[2016-04-06 22:00] jsep commented on #19
Hello guys, we just publish a new version of the package, the version is `2.4.5-rc.3`. This version contains the latest mocha and should solve this problem as well with `1.3` meteor release. We now require mocha directly and we don't use the browserified version anymore.

[2016-04-06 22:08] benjamn commented on #19
@trusktr within a given scope (such as a program, module, or function), a variable is "free" if it refers to a variable declared in some outer scope. In Node, `require` is usually a free variable, because you can refer to it without having to declare or import it. However, if you do something like

[code]

then there's no way to be sure `require` refers to the usual Node function, because the `req

[2016-04-07 09:38] serut commented on #21
Ok I didn't thought it was desired.

I close the issue since it's not even the good repository ! ;-)

[2016-04-07 09:38] #21 closed

[2016-04-07 15:41] jsep commented on #27
@quintstoffers you can try the `2.4.5-rc.3` version it should fix this issue

[2016-04-08 08:57] thebarty opened #28 "Tests disappear"
Hi guys,

this is really strange... from time to time tests disappear in the browser status-window... for example right now I got 13 tests, BUT only 1 test is shown!

Anyone else experiencing this issue?

[2016-04-08 09:42] thebarty commented on #28
Ok... I have found the solution... grep seems to be a feature to filter tests from the url `http://localhost:3100/?grep=`

[2016-04-08 09:43] #28 closed, assigned to nobody

[2016-04-08 13:54] knoid opened #29 "Is there a way to disable a package when testing?"

[2016-04-08 14:23] quintstoffers commented on #27
Looks like 2.4.5-rc.3 works fine, thanks! The console runner seems to be left behind a bit, although that's another issue all together.

[2016-04-08 16:26] jsep commented on #28
Yes mocha filter the the tests using grep query string, for example if you click a test only that test will run.

[2016-04-12 23:59] dominikmayer opened #30 ".babelrc not found"
When I run

[code]

Meteor complains that it doesn't find a `.babelrc` file:

[code]

I do have a `.babelrc` file in my project root and running the command created another one in my `client` folder.

How can I fix this?

[2016-04-13 00:06] jsep commented on #30
hello @dominikmayer

I think the the problem is with [gadicc:babel-compiler-hot](https://atmospherejs.com/gadicc/babel-compiler-hot) pakckage and not `practicalmeteor:mocha`.

[2016-04-13 17:27] #19 closed

[2016-04-13 17:27] #20 closed

[2016-04-13 17:27] #27 closed

[2016-04-13 20:37] dominikmayer commented on #30
Ah, thanks for the information. I was thinking about this package because the other one doesn't cause any problems when running `meteor`. I added the [issue](https://github.com/gadicc/meteor-react-hotloader/issues/37) over there.

[2016-04-13 20:37] #30 closed, assigned to nobody

[2016-04-13 23:55] Zodiase opened #31 "`merged-stylesheets.css` missing."
I was testing some visual components and noticed that I couldn't get any CSS/SASS styling to show up. I never encountered anything like this when I was using Velocity. Then I found out that, even though `merged-stylesheets.css` was in the html code sent to the client, it is nowhere to be found in the live DOM. That tells me something is deleting it. I couldn't find any other packages that I'm usin

[2016-04-14 03:15] quangle opened #32 "Running tests on CircleCI"
So I successfully ran my tests on local environment using `meteor test --driver-package=practicalmeteor:mocha`. However, when using that same command to run tests on CircleCI, CircleCI timed out because no results are printed out.
Is there a way to run my tests on CircleCI successfully? Appreciate any feedback from you guys.

[2016-04-15 19:25] jsep commented on #32
Hello @quangle you can the tests with `spacejam`.

Follow this steps:
First add `practicalmeteor:mocha-console-runner` to your app. `meteor add practicalmeteor:mocha-console-runner@0.2.0`

To run the tests with spacejam:
- Install `1.6.0-rc1` of `spacejam`. Run this: `npm install -g spacejam@1.6.0-rc1`
- `spacejam test --mocha` OR `spacejam test --driver-package practicalmeteor:mocha-console-runne

[2016-04-15 19:31] jsep commented on #31
Hello @Zodiase

Are you running the application with `meteor test` command?
If you run `meteor test` command with `practicalmeteor:mocha` driver package it will only show the web reporter.
Otherwise your application should run as always, `practicalmeteor:mocha` does nothing unless you are running the application in test mode.

[2016-04-15 21:04] Zodiase commented on #31
@jsep Thanks for replying! I'm using `meteor test --driver-package practicalmeteor:mocha`. Are you saying as long as I'm using `meteor test`, Meteor will remove everything leaving only the web reporter?

If that's the case, I'd have to just use `meteor run` and write all the tests as part of the app (not in `.tests.` files)?

[2016-04-15 21:14] jsep commented on #31
@Zodiase according to [Meteor Guide](http://guide.meteor.com/testing.html#test-modes) meteor test command is:

What you can do is to run your tests and your app at the same time for example:
- `meteor run`
- `meteor test --driver-package practicalmeteor:mocha --port 3100`

Then go to:
 `http://localhost:3000/` - for your app
 `http://localhost:3100/` - for your tests

I recommend you to read the [

[2016-04-15 23:28] Zodiase commented on #31
@jsep I'm sorry but I don't think you understand what I'm asking... I have read the Meteor Guide over and over but either it's ambiguous about this issue or something else is wrong.

Let me put it this way:

I have:
`/client/foo.tests.js`
`/client/foo.tests.css`

and then I run:
`meteor test --driver-package practicalmeteor:mocha`

Now I can see the test results at `http://localhost:3000/`, but it

[2016-04-16 09:15] sunilpes opened #33 "please update article"
Update article on how to use meteor mongo instance while performing unit test and it would be great if example is provided.

[2016-04-18 00:28] aldeed commented on #23
@rbabayoff I now have all the `dispatch:mocha-*` packages depending on [dispatch:mocha-core](https://github.com/DispatchMe/meteor-mocha-core), which loads the client side file and exports a single instance of mocha on the server for them all to share. This allows them all to be added without conflicts. I haven't look into it yet, but I believe practicalmeteor:mocha could also be updated to depend

[2016-04-18 18:27] rbabayoff commented on #31
@tmeasday ?

[2016-04-19 03:44] quangle commented on #32
Thank you very much, @jsep. It works perfectly on CircleCI. Now, I would like to generate test coverage data to work with Coveralls. Do you have experience with it?

[2016-04-19 23:44] tmeasday commented on #31
@Zodiase - The test driver needs to remove your applications CSS so it doesn't interfere with the test reporters CSS. This is a consequence of how the test mode architecture differs from Velocity.

If you are writing a test case that depends on CSS, you are probably better using an acceptance test: http://guide.meteor.com/1.3-migration.html#full-app-testing

[2016-04-20 14:09] jsep commented on #32
I'm glad it's working @quangle, I don't have any experience with coveralls. But pull requests are welcome too.

[2016-04-21 23:36] rhettlivingston opened #34 "Server-side tests abort on exception without any report"
While developing using the new guide's advice on Methods and Testing and an approach derived from the todos example app, I have encountered numerous cases of my server-side tests simply aborting on exceptions without any indication that they ever even started. No exceptions show in any consoles either. The only indication that it happened is that the completion indicator never hits 100%. So, somet

[2016-04-23 08:41] tedslittlerobot opened #35 "100% issue"
Sometimes (i'll go into this in a minute), the radial %age meter reads 100%, when some tests have failed. See the following two screenshots:

![screen shot 2016-04-18 at 14 57 34](https://cloud.githubusercontent.com/assets/1783459/14760262/110eaf22-0937-11e6-854f-9cbe639bcabb.png)

![screen shot 2016-04-23 at 09 33 51](https://cloud.githubusercontent.com/assets/1783459/14760263/1115c794-0937-11e6-

[2016-04-25 20:54] jsep commented on #35
100% means that all tests has ended running.

[2016-04-26 18:49] jsep commented on #34
Thank you for reporting this issue. I was able to reproduce this. I'm working to fix this issue

[2016-04-27 02:34] jsep commented on #34
Good news  @rhettlivingston I've publish a release version of the package that should fix this issue. Please  add `practicalmeteor:mocha@2.4.6-rc.2` and let me know any other issue.

[2016-04-27 20:51] rhettlivingston commented on #34
Sorry that it took a while. I bit on the ubuntu 16.04 upgrade too quick. Took me a while to battle the issues.

I'm happy to report that I tested this in two applications, both making sure nothing that had been working before broke and making sure that it did fix the problem if I intentionally broke code to throw the exceptions that weren't caught before. All was great! Thank you!

One more possib

[2016-04-27 20:58] jsep commented on #34
Good to know its working great @rhettlivingston, what you say about server-side debugging is interesting, I would like to know how are you debugging your app?

[2016-04-27 21:08] rhettlivingston commented on #34
This is only really happening when I'm writing tests. I'll
1. start `meteor test-packages ./ --driver-package practicalmeteor:mocha`,
2. open a browser to http://localhost:3000/,
3. open simple-schema-mixin-tests.js in this case in an editor,
4. write or modify a test,
5. save it,
6. meteor will detect the save and automatically rebuild,
7. then I'll look over at the browser and see how the test r

[2016-04-28 20:33] rbabayoff commented on #35
Closing this then, since it's not a bug - the % is an indication that all tests have finished.

[2016-04-28 20:33] #35 closed, assigned to nobody

[2016-05-01 11:40] dovrosenberg opened #36 "Feature request: Quickly filtering skipped/pending tests"
It would be great if there were a filter at the top of the results to list the skipped/pending tests separately from the passed and failed ones.

I often create a lot of empty tests as placeholders when I'm fleshing out a new section and it would be great to be able to quickly get a list of where these all are so I can then go back and fill them out.

Thanks!

[2016-05-04 19:17] lorensr opened #37 "Incomplete package.json?"
I get this recommendation:

[code]

when I try to test meteor/todos, which uses:

[code]

Full repro:

[code]

moved from https://github.com/meteor/todos/issues/130#issuecomment-216970857

[2016-05-04 19:50] jsep commented on #37
meteor/todos is using a older version if you add update to the latest version this issue should be solved.

Please try:

`meteor add practicalmeteor:mocha@2.4.5_2`

Let me know if this continue.

[2016-05-04 20:07] lorensr commented on #37
Thanks! Updated, looks like same error:

[code]

![image](https://cloud.githubusercontent.com/assets/251288/15027508/2cbf5878-1212-11e6-97cd-9fd7f5965967.png)

[2016-05-04 21:10] jsep commented on #37
@lorensr we ran into this issue before, see #19 for more details, basically is the meteor itself that is causing this. You just have to update the meteor version with the `meteor update` command.

[2016-05-04 21:20] lorensr commented on #37
Thanks, fixed!

[2016-05-04 21:20] #37 closed, assigned to nobody

[2016-05-04 21:21] jsep commented on #37
You're welcome, I'm glad it works. :smile:

[2016-05-04 22:49] tmeasday commented on #23
@rbabayoff what do you think about trying to settle on a single mocha core package?

[2016-05-05 19:19] lorensr opened #38 "Error on browser.url"
Test:

[code]

The error:

[code]

Repro:

[code]

https://github.com/lorensr/chimp-symbol

[2016-05-05 19:21] lorensr commented on #38
Sorry, wrong repo 😅

[2016-05-05 19:21] #38 closed, assigned to nobody

[2016-05-05 20:47] rbabayoff commented on #34
Solved in 2.4.5_2. Closing this.

[2016-05-05 20:47] #34 closed, assigned to nobody

[2016-05-05 20:50] rbabayoff commented on #36
@dovrosenberg, we're using a slightly modified version of the original [mocha html reporter](https://mochajs.org/#reporters), this should probably be filed at the mocha [repo](https://github.com/mochajs/mocha).

[2016-05-05 20:51] rbabayoff commented on #33
@sunilpes, which article?

[2016-05-05 20:52] rbabayoff commented on #32
Closing this, but we will update how to use spacejam in CI env's in spacejam's readme.

[2016-05-05 20:52] #32 closed, assigned to nobody

[2016-05-05 20:53] rbabayoff commented on #31
Closing this, since this is the expected behavior of meteor test without the --full-app flag.

[2016-05-05 20:53] #31 closed, assigned to nobody

[2016-05-05 21:09] rbabayoff commented on #23
@tmeasday I agree, but I'd prefer to use ours. PRs are welcome, 2 options:
1. Create the mocha instance in our mocha-core and add dependency on npm.
2. Have dispatch depend on practicalmeteor:mocha and use the exported mocha instance from our package. Preferred.

@aldeed and @tmeasday what say you?

[2016-05-05 21:10] rbabayoff commented on #24
Closing this, since it's a meteor issue and since warning messages are not displayed in meteor 1.3.1.

[2016-05-05 21:10] #24 closed

[2016-05-05 21:36] tmeasday commented on #23
I'm really not sure what the difference between the core packages are? Why would you prefer to use yours @rbabayoff?

[2016-05-05 21:52] aldeed commented on #23
@rbabayoff Our core pkg already depends on your `mocha-core` to do the binding, so if your `mocha-core` just exported the mocha stuff already bound on the server and did init mocha on the client, that's my preference. In other words, we can merge ours into yours. I can do a PR but probably not until next week.

[2016-05-06 12:41] dovrosenberg commented on #36
Got it. After further investigation - already done: https://github.com/mochajs/mocha/issues/2150

[2016-05-06 12:41] #36 closed, assigned to nobody

[2016-05-06 17:39] sunilpes commented on #33
no issues, It is working fine!

[2016-05-06 17:39] #33 closed, assigned to nobody

[2016-05-06 18:51] denodaeus commented on #32
@jsep @rbabayoff:

It's not working for me (for CI), because it just hangs on the console and doesn't return an exit code:

[code]

[2016-05-06 19:01] denodaeus commented on #32
Another note:  it looks like if i leave that running, and then make a change to a file, the tests run again and exit in the console:

[code]

[2016-05-09 19:05] joncursi opened #39 "Add CodeCoverage Support"
I've been unable to wrap the

[code]

command within a codecoverage report, i.e. [istanbul](https://www.npmjs.com/package/istanbul). Is there a codecoverage tool that you'd recommend?

[code]

Tests pass, process exits, no coverage info is collected:

[code]

[2016-05-10 18:36] denodaeus commented on #32
Downgrading from the 2.1.0-rc to 2.0.0 seems to fix the problem for me temporarily, but I cannot use the xunit reporter now.

[2016-05-10 20:15] jsep commented on #32
Interesting @denodaeus I just publish another version of console-runner, please try version `0.2.1-rc.4` and let me now if its working.

[2016-05-10 21:21] joncursi opened #40 "HTML Reporter Layout Issue: Overflow Hidden on Body"
After the test suite generates an HTML report via the command

[code]

the HTML body tag, for some reason, **sometimes** receives an inline style of `overflow: hidden` which prevents the developer from scrolling vertically through the tests.

![screen shot 2016-05-10 at 5 17 25 pm](https://cloud.githubusercontent.com/assets/4974609/15162879/566c4da0-16d3-11e6-8850-240bf471de0f.png)

Any idea why t

[2016-05-10 22:03] jsep commented on #40
That's weird :confused: , I don't have that and I can scroll through my tests.

Please try to use the latest version which is `2.4.5_2`.

[2016-05-11 01:16] joncursi commented on #40
Dang, I'm already using the latest version. I notice that 0.5 seconds after the HTML reporter loads, the inline style gets applied. I wonder if it could be from the dependencies that I am importing throughout my tests?

Is the HTML reporter by chance not isolated from such imports?

[2016-05-11 01:56] jsep commented on #40
Interesting, according to meteor guide when running in "unit test mode" it will only include the files that you are importing, maybe some dependency it's doing that?

Some times even browser extensions can mess up with the layout.

But the package `praticalmeteo:mocha` it's not  adding the inline style.

The project has some demos a test app and a test package, if you want you can try to run those

[2016-05-12 18:51] vu-bui opened #41 "Cannot Run --full-app Test on Meteor 1.3.2.4"
When I execute full app test by running `meteor test --full-app --driver-package practicalmeteor:mocha`, none of the `.app-spec.` files are executed. Things happen the same for Meteor's [todos](https://github.com/meteor/todos) app. It was fine if I didn't upgrade Meteor version to the lastest 1.3.2.4. The original version of the app is 1.3, which will be run on 1.3.0_3.

<img width="1231" alt="scr

[2016-05-12 18:51] Dev1an commented on #41
Dear Vu Bui,

The email sent to info@devian.tk with subject
"[practicalmeteor/meteor-mocha] Cannot Run --full-app Test on Meteor"
will be delivered as soon as possible.

Your email address is automatically added to the
recipients 'whitelist'. This means for further
emails to info@devian.tk, you will not receive a delivery
notification again.

TK MAILIAS
********************************************

[2016-05-12 19:03] jsep commented on #41
Thanks @vu-bui,  I could reproduce this, however it seems to be Meteor it's not running `*.app-test*` or  `*.app-spec*` files.

@tmeasday any ideas about this?.

[2016-05-12 19:03] Dev1an commented on #41
Dear Juan Sepulveda,

The email sent to info@devian.tk with subject
"Re: [practicalmeteor/meteor-mocha] Cannot Run --full-app Test on"
will be delivered as soon as possible.

Your email address is automatically added to the
recipients 'whitelist'. This means for further
emails to info@devian.tk, you will not receive a delivery
notification again.

TK MAILIAS
***************************************

[2016-05-13 01:57] ramijarrar commented on #41
Looks like we have a fix for this on devel: https://github.com/meteor/meteor/commit/b196478146918cc81b923706087e0034a571080d

[2016-05-13 01:57] Dev1an commented on #41
Dear ramijarrar,

The email sent to info@devian.tk with subject
"Re: [practicalmeteor/meteor-mocha] Cannot Run --full-app Test on"
will be delivered as soon as possible.

Your email address is automatically added to the
recipients 'whitelist'. This means for further
emails to info@devian.tk, you will not receive a delivery
notification again.

TK MAILIAS
*******************************************

[2016-05-13 02:32] vu-bui commented on #41
Thanks guys, so this is actually Meteor's problem and it has already been fixed on Meteor.

As it's not related to practicalmeteor:mocha, I'll close it for now.

[2016-05-13 02:32] #41 closed, assigned to nobody

[2016-05-13 02:32] Dev1an commented on #41
Dear Vu Bui,

The email sent to info@devian.tk with subject
"Re: [practicalmeteor/meteor-mocha] Cannot Run --full-app Test on"
will be delivered as soon as possible.

Your email address is automatically added to the
recipients 'whitelist'. This means for further
emails to info@devian.tk, you will not receive a delivery
notification again.

TK MAILIAS
***********************************************

[2016-05-13 02:46] jsep commented on #41
@Dev1an can you stop the spam? please....

[2016-05-16 23:49] evelant opened #42 "Pending tests on server don't display in reporter"
Run the following test

[code]

And the output will be:

![capture](https://cloud.githubusercontent.com/assets/858965/15307246/3af1de98-1b9f-11e6-8107-6287916836b6.PNG)

[2016-05-17 18:20] evelant commented on #42
Probably related, lots of this showing up in my console when I run my tests

[code]

this is on Meteor Meteor 1.3.2.4

[2016-05-17 19:23] jsep commented on #42
Hello @fignuts thank you for reporting this issue.

The package it's working as expected for me, so I couldn't reproduce this issue.

According to the error shown by `MeteorPublishReporter`(package's class) in `'task model`' suite you are  running some code that needs to be  wrapped under a `Fiber`. You can use `Meteor.bindEnvironment(func, onExeception, this)` to run code within a `Fiber`.

If yo

[2016-05-17 20:03] evelant commented on #42
I have only one .test.js file in my project with the following contents. The file imports nothing and is the only test file in my project.

[code]

This is the console output I get:

https://gist.github.com/fignuts/40163fab06d6405ea6c521519b78cbd4

The tests run fine if I clone the Todos example project. I am not really sure how to proceed debugging this. There seems to be something in my project

[2016-05-17 20:10] jsep commented on #42
Thanks @fignuts It's hard find this way.

Are you using the latest package version (`2.4.5_2`)?

[2016-05-17 22:38] evelant commented on #42
Yes I am using the latest version

[2016-05-19 02:50] joncursi commented on #40
Closing, since it's likely not an issue with this project itself.

[2016-05-19 02:50] #40 closed, assigned to nobody

[2016-05-19 13:01] aldeed commented on #23
@rbabayoff @tmeasday Here is a PR for combining the pkgs: https://github.com/practicalmeteor/meteor-mocha-core/pull/6

[2016-05-20 00:02] 0o-de-lally commented on #11
I'm still getting this error. Meteor methods cannot be tested. It will fail in console, but the reporter will show passing. Unless I'm doing something wrong.

[code]

And in browser:  "Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test."

[2016-05-30 00:48] rvetere commented on #39
Would be great to have a code-coverage solution available - it pushes my motivation to write more unit-tests 😄

[2016-05-30 17:28] ratiofu opened #44 "Not waiting for promises to be resolved in server-side tests"
Server-side tests do not wait for a promise to be resolved. The following code reproduces the issue.

[code]

This will fail in the browser, like it should, but not on the server.

![screenshot of client and server test results](https://cdn.pbrd.co/images/1juWESsE.png)

I am running the tests with `meteor test --driver-package practicalmeteor:mocha --port 3100`

Specifically, it appears that in th

[2016-05-30 18:54] ratiofu opened #45 "Server-side fs module appears to be incomplete stub when using import or require"
I was trying to write unit tests around some file operations my code is performing and after a bunch of silent failures (see #44), it turns out that the `fs` module is some sort of stub on the server. I am not sure if this is a build issue with `meteor` or related to how tests are run. Example:

`/imports/server/file.tests.js`:

[code]

I would expect the above code to print all the exports availa

[2016-05-31 08:51] Sizuko commented on #45
Got the same problem till yesterday. I tried to use existsSync and readdirSync but they always return undefined.
Is Npm.require working for you?

[2016-05-31 10:25] mordka commented on #44
For a workaround you might want to catch in manually.

[code]

[2016-05-31 15:52] ratiofu commented on #45
Yes, that's how I monkey-patched this for now on my end. There generally seems to be a consistent issue with [server-side code being treated (compiled?) as client-side code](https://forums.meteor.com/t/21696/10).

[2016-05-31 15:55] ratiofu commented on #44
I don't have an issue with the exception not being caught per se. The problem is with returned promises not being handled properly. The same would be true if the test ran successfully: we wouldn't really know either way.

[2016-06-02 20:17] znewsham opened #46 "describe("Tasks", ...) vs describe("anything else", ...)"
Getting a bizarre issue, I'm trying to implement tests in an existing project that I'm porting to meteor 1.3.

If I write my test (as per the tutorial)

[code]

it runs, however if I write:

[code]

it does not run at all

[2016-06-02 20:37] #46 closed, assigned to nobody

[2016-06-06 18:06] pcorey commented on #42
I've been having this same issue. As far as I know, none of my application code is running outside of a Fiber, and all of my test code is fairly standard. While my tests and web reporter are running just fine, these STDERR logs are fairly annoying.

I'd love to figure out what's going on here.

[2016-06-06 19:39] jsep commented on #42
@fignuts @pcorey Can you make a repo that replicate this issue?, It's difficult to know what is problem.

[2016-06-07 19:41] sambegin opened #47 "Add "shared" result column"
It would be nice to have a "shared" column in test report.

Actually, if we make test on a "shared object", this test will be duplicated in both server and client side column.

Adding a column containing shared tests between client and server would clean that up !

Thanks, I appreciate your project !

[2016-06-07 23:03] rbabayoff commented on #45
tmeasday any clues into why that is? Shouldn't fs be stubbed client side only? I'm assuming this has nothing to do with our package but with meteor itself, per @tjconsult, correct?

[2016-06-07 23:11] rbabayoff commented on #44
@tjconsult did you check if mocha, independent of meteor, is supporting waiting for promises, if a promise is returned by a test case?

[2016-06-07 23:13] rbabayoff commented on #42
@tmeasday, any clues?

[2016-06-07 23:14] rbabayoff commented on #42
@fignuts and @pcorey, what OS are you own and which version of meteor?

[2016-06-07 23:15] rbabayoff commented on #39
That is probably a question to the meteor folks. @tmeasday ?

[2016-06-07 23:19] rbabayoff commented on #29
2 options:
1. Remove it from the meteor app before testing the app
2. Put all your code in packages, which with meteor 1.3 became much less cumbersome, so no need to add each source code file individually, and just test the packages you want. If it's not your own package you want to disable, just create a package that adds the 3rd party one and don't test it.

I'm curious in regards to your specif

[2016-06-07 23:23] pcorey commented on #42
OSX El Capitan.
Meteor 1.3.2.4.

I tried to build a reproduction from scratch, but couldn't recreate the issue. I'll try to strip down my current project to a minimal reproduction.

[2016-06-08 00:29] tmeasday commented on #42
What is the underlying mocha wrapping library you are using these days?

[2016-06-08 00:30] tmeasday commented on #39
I'm not sure how istanbul works. I can probably comment on possible solutions if people can figure out what the issue with using it is.

[2016-06-08 00:34] tmeasday commented on #45
This sounds like it could be an issue with Meteor's bundling in test mode. Can we get a simple reproduction and an issue at `meteor/meteor`?

Probably a reproduction with a trivial test driver would make sense..something like:

[code]

[2016-06-08 00:56] ratiofu commented on #44
[It does.](https://mochajs.org/#working-with-promises)

[2016-06-08 03:21] ratiofu commented on #45
@tmeasday, I tried to set up [a simple project with a rudimentary test driver](https://github.com/tjconsult/meteor-test-driver) like you suggested above, but I can't get it to run. The `runTests` method is never called.

FWIW, when inspecting the `fs` import outside of the test method, it was the Node version of it, so I am not sure my simple project is even reproducing the problem.

[2016-06-08 04:44] tmeasday commented on #45
Maybe you need to open the test in the browser?

I realized the sketch I did above doesn't call the tests on the server. This PR adds that: https://github.com/tjconsult/meteor-test-driver/pull/1

And it appears when I run it that it behaves on the server as I would expect.

[2016-06-08 06:09] ratiofu commented on #45
Yeah, I tried to run it in the browser, too. Thanks for the PR ... and yes, I can't reproduce this in your simple test. Back to square one. I'll take another look.

[2016-06-08 15:07] pcorey commented on #42
It looks like the culprit here is the `peerlibrary:reactive-publish` package. Removing that from my project fixes the STDERR output in test mode.

@fignuts - Are you using reactive-publish?

[2016-06-08 15:10] evelant commented on #42
Yes, I am using that package.

[2016-06-08 21:25] rbabayoff commented on #42
So it seems it's a reactive-publish bug. @pcorey and @fignuts do you get this stderr outputs in your apps as well, i.e. with meteor run, not meteor test?

[2016-06-08 22:50] sprintup commented on #42
I'm a noob, but I found this http://stackoverflow.com/questions/36593111/meteor-1-3-server-testing and **my reporter is not working at all**. I can't tell if this is related, sorry if it's not.

OSX El Capitan 10.11.3 | Meteor 1.3.2.4

Tried:
avital:mocha@2.1.0_10 (https://themeteorchef.com/blog/meteor-1-3-from-a-20-000-foot-view/) and practicalmeteor:mocha@2.4.6-rc.2 (https://forums.meteor.com/t/

[2016-06-08 23:25] pcorey commented on #42
@rbabayoff I don't know if I'd be so quick to say it's a reactive-publish bug. My application works fine with `peerlibrary:reactive-publish` in normal `meteor` mode and has since 1.2.

@mitar - Do you have any insights as to what might be causing this?

[2016-06-08 23:32] mitar commented on #42
No idea. I am not using mocha. But if mocha publish endpoints do not use `autorun`, then existence of reactive-publish should not interfere with them.

Is there a reproduction repo?

[2016-06-09 13:06] pcorey commented on #42
@mitar @jsep @rbabayoff Here's a reproduction repo: https://github.com/pcorey/practicalmocha-repro

I've found that a fix is to move `peerlibrary:reactive-publish` _below_ `practicalmeteor:mocha` in my packages file. That seems to fix the publication errors and correctly sends headers/titles/metadata/etc... down to the client.

Not sure what's going on beyond that.

[2016-06-09 13:10] mitar commented on #42
Not sure how mocha instruments things? Does it modify publish endpoints in a general way? `peerlibrary:reactive-publish` does so, but it should not matter.

[2016-06-09 13:29] jsep commented on #42
Thanks you so much @pcorey I was able to reproduce the problem, and as you said  if a move `peerlibrary:reactive-publish` bellow `practicalmeteor:mocha` the issue it's solve, which is very odd :confused:

Here is what I found @mitar:

[code]

In order to report data to client we use a collection, but we don't use `collection.insert(doc)`, instead we    manually add documents to the publication, Yo

[2016-06-09 13:39] mitar commented on #42
What about [this TODO](https://github.com/practicalmeteor/meteor-mocha/blob/meteor-v2.4.5_2/meteor/src/reporters/MeteorPublishReporter.coffee#L9)?

[2016-06-09 13:41] mitar commented on #42
Can you try to check before `@publisher.added('mochaServerRunEvents', doc._id, doc)` if you are in a fiber? I think you are not and this is why you get an error. You are calling publisher's `added` method outside of Fiber which is not how Meteor expects it to be.

[2016-06-09 16:48] jsep commented on #42
Hello @pcorey @mitar @sprintup @fignuts @tmeasday

I just release candidate of the package that should solve this issue.

To test the package just add it with the version `2.4.5-rc3.1`

`meteor add practicalmeteor:mocha@2.4.5-rc3.1`

You can use the repo that @pcorey created:

[code]

Thanks!

[2016-06-09 16:51] jsep commented on #23
Hello @tmeasday @aldeed @gadicc

 I just release a release candidate version (2.4.5-rc3.1) of the package using `practicalmeteor:mocha-core` with the changes of @aldeed

To use it just run  `meteor add practicalmeteor:mocha@2.4.5-rc3.1`

Please feel free to test the changes and let us know any problem.

Thanks

[2016-06-09 16:54] jsep commented on #23
@aldeed which version of your package it's using the same `practicalmeteor:mocha-core` package?

[2016-06-09 18:55] aldeed commented on #23
Our packages `dispatch:mocha`, `dispatch:mocha-phantomjs`, and `dispatch:mocha-browser` all use our `dispatch:mocha-core`, which uses `practicalmeteor:mocha-core` to do the server wrapping. I will update those three packages to use `practicalmeteor:mocha@2.4.5-rc3.1` directly, and then `dispatch:mocha-core` will be deprecated. I will try to get our own RCs out for that so that we can verify that e

[2016-06-09 19:55] jsep commented on #23
@aldeed the version of `practicalmeteor:mocha-core` that I'm using  is `1.0.0-rc.2`.

[2016-06-09 21:01] Ben305 commented on #23
@aldeed Can you post here again when the RCs are out?

[2016-06-09 21:01] rbabayoff commented on #23
@gadicc, @aldeed and @tmeasday, as soon as you confirm it's working, we'll publish this as a release version.

[2016-06-09 21:33] jsep commented on #45
Hello @tjconsult @Sizuko

I just release candidate version that fix this issue.

Just run: `meteor add practicalmeteor:mocha@2.4.5-rc3.1`

@tmeasday the problem was that I was importing `meteor-node-stubs` in the server and was overwriting some node modules such as `fs`.

Thanks

[2016-06-10 06:02] ratiofu commented on #45
I updated the package, but that did not result in any changes in `.meteor/versions/` and does _not_ have appeared to fix the issue.

Updating to `-rc3.2` resulted in an update to `mdg:validation-error`, but also did not fix the issue. The server-side test still seems to be using the `fs` stub.

[2016-06-10 13:45] pcorey commented on #42
@jsep I still seem to be having issues with `rc3.1`... Following your steps (plus an `npm i`), I still see the `MeteorPublishReporter.added` errors.

[2016-06-10 14:03] mitar commented on #42
Which exactly error do you get?

[2016-06-10 14:07] pcorey commented on #42
[code]

Also potentially of interest:

[code]

[2016-06-10 14:11] jsep commented on #42
@pcorey for some reason it's  not running the latest version :confused: , try to do a `meteor reset`

To be sure that you are running the correct version you can do this:

[code]

[2016-06-10 14:18] mitar commented on #42
You have to do:

[code]

(Notice `=` there.)

[2016-06-10 17:12] pcorey commented on #42
Ah, whoops.

It looks like `rc3.1` fixed the issue. Thanks @jsep and @mitar!

[2016-06-14 17:59] joncursi opened #48 "Cannot Start Test Instance in Meteor 1.3.3"
After upgrading from Meteor 1.3.2.4 to 1.3.3, my test suite no longer starts up due to the following error:

[code]

Per https://github.com/meteor/meteor/blob/master/History.md#v133 , it looks like `phantomjs` might be the culprit, however `meteor npm install -g phantomjs-prebuilt` did not solve the problem for me.

[2016-06-14 23:03] sprintup commented on #42
This is great. I ran it and it solved the error that was displayed to the console. However, my project is not displaying the test reporter and I'm at a loss for what to do next. Any help would be appreciated:
- http://stackoverflow.com/questions/37800645/mocha-for-meteor-not-running-test-reporter

Thank you

[2016-06-15 00:36] rbabayoff commented on #42
@sprintup it works for us with meteor 1.3.3 and our [test app](https://github.com/practicalmeteor/meteor-mocha/tree/meteor/meteor/test-app) on ubuntu 14.04 and latest chrome. Can you:
1. Post the command line you're using?
2. Try it with meteor 1.3.3?
3. Let us know the browser and version?
4. If possible, create a meteor app repo that reproduces the problem?

[2016-06-15 01:05] jsep commented on #45
@tjconsult I've created a PR to your repo that it's working properly for me, let me know any issue please

[2016-06-15 01:07] jsep commented on #44
@tjconsult I've just release a new release version of the package the solve this issue.

Try running:
`meteor add practicalmeteor:mocha@=2.4.5-rc3.2`

Thanks :smile: !

[2016-06-15 02:40] abhiaiyer91 commented on #23
When is this being resolved? @tmeasday

[2016-06-15 02:42] tmeasday commented on #23
Just waiting to hear from @aldeed .

You can just use the dispatch reporter in the meantime if it's slowing you down @abhiaiyer91

[2016-06-16 10:55] gadicc commented on #23
Sorry for my late replies to this... I'm a bit behind and also have some weird new issue with my testing setup that I've run out of time to fix.  In any event, I don't think I can test this without an updated `dispatch:mocha-phantomjs`, and I think as soon as they give the final OK you can consider this resolved.  Many thanks!  Will be awesome to have both `meteor test` and CI working with the sam

[2016-06-16 20:29] sprintup commented on #42
Thank you @rbabayoff I figured it out while trying to recreate the issue. It was the order of the packages in the packages file.

[2016-06-16 20:30] mitar commented on #42
The order of packages should not matter anymore? Are you using the release candidate?

[2016-06-16 20:37] sprintup commented on #42
No, but I did try the release candidate and the reporter wasn't working. This is the commit that fixed it:
<img width="1409" alt="screen shot 2016-06-16 at 2 35 12 pm" src="https://cloud.githubusercontent.com/assets/10011204/16132267/acd0f2d6-33cf-11e6-84a8-d4554382ac7d.png">
<img width="1389" alt="screen shot 2016-06-16 at 2 36 31 pm" src="https://cloud.githubusercontent.com/assets/10011204/16132

[2016-06-16 20:41] mitar commented on #42
Yes, it is known that reordering of packages can help. But the important part is that we should fix is so that it works even without.

[2016-06-17 22:46] jsep commented on #48
@joncursi , works for us:
1. What os and browser versions r u on?
2. Can you create a repo that reproduces the problem?

[2016-06-17 23:02] jsep commented on #17
Closing this - resolved in spacejam 1.6.0 and this belongs to spacejam's repo anyway and is a duplicate of https://github.com/practicalmeteor/spacejam/issues/23.

[2016-06-17 23:02] #17 closed

[2016-06-18 01:09] #23 closed

[2016-06-20 02:40] asdfjackal opened #51 "TypeError when running tests on Windows 10 with Meteor 1.3.3.1"
When I run the meteor test command with the practicalmeteor:mocha driver I recieve the following error log and an exit code of 8:

[code]

[2016-06-20 08:44] M4v3R commented on #23
@gadicc If this is fixed you may want to update [the guide](http://guide.meteor.com/testing.html#mocha) to remove this line:

[2016-06-20 08:46] maciej-trebacz commented on #23
@tmeasday  If this is fixed you may want to update [the guide](http://guide.meteor.com/testing.html#mocha) to remove this line:

[2016-06-20 09:57] walliski commented on #51
:+1: for windows 8.1. Just updated meteor to 1.3.3.1 and this broke in the process I think.

Package changes:

[code]

perhaps has something to do with it?

[2016-06-20 23:05] rbabayoff commented on #23
@aldeed let us know if this works for you and if not, we'll reopen this.

[2016-06-21 06:52] theodorDiaconu opened #52 "New version requires npm dependencies and fails to start test"
It worked previously.

[code]

[2016-06-21 06:59] theodorDiaconu commented on #52
Running it like:

`meteor test-packages packages/framework --driver-package=practicalmeteor:mocha --port 3080`

[2016-06-21 07:26] theodorDiaconu commented on #52
The solution was to do meteor reset, then install version 2.4.5_2 (using meteor add)
Then run it. Hope it will be fixed soon.

[2016-06-21 11:23] knoid commented on #29
Thanks for the easy solution!

My problem is that part of a package I'm trying to use assumes I use another accounts-password when that's not the case, I'm using it for its other features.

[2016-06-21 11:23] #29 closed, assigned to nobody

[2016-06-21 23:08] rbabayoff commented on #52
@tmeasday this looks like a meteor bug related to npm dependency installations, not a mocha one, right?

[2016-06-22 01:11] tmeasday commented on #52
Hmm, this looks a bit strange. If you are `Npm.depend`-ing on `debug` (which it [appears you are](https://github.com/practicalmeteor/meteor-mocha/blob/meteor/package.js)) then I don't have a good explanation of what could be causing this.

@theodorDiaconu are you saying the problem exists in `2.4.5_3` but not `2.4.5_2`?

[2016-06-22 03:10] theodorDiaconu commented on #52
@tmeasday @rbabayoff
This was the flow of things:

Everything was working fine. Tests were running.
I updated to Meteor 1.3.3.1 and did a project reset
Tests began to fail with that error. I assumed it's Meteor version.
I downgraded to Meteor 1.3.2.4
Same problem
I knew it was previously working so I tried --driver-package=practicalmeteor:mocha@2.4.5_2 . This does not work. So I installed it using

[2016-06-22 15:35] jsep commented on #45
Closing this, reopening it not solved

[2016-06-22 15:35] #45 closed, assigned to nobody

[2016-06-22 17:51] jsep commented on #48
@joncursi I need more details in order to solve this issue, it's working great with that version of meteor including the latest version.

[2016-06-22 17:52] jsep commented on #44
This has been fix in 2.4.5_3 release

[2016-06-22 17:52] #44 closed, assigned to nobody

[2016-06-22 17:53] #42 closed, assigned to nobody

[2016-06-23 01:59] deanrad opened #54 "Current Version Breaks Server Side Test reporting output"
The server pane of the browser reporter loses track of server tests after installing latest version

[code]

Before:
![image](https://cloud.githubusercontent.com/assets/24406/16289599/0c353386-38bc-11e6-941e-c043cb210dd1.png)

After:
![image](https://cloud.githubusercontent.com/assets/24406/16289512/570b978e-38bb-11e6-9a19-9bc292dc5f82.png)

The diff that causes the regression:

[code]

The full `

[2016-06-23 02:02] deanrad commented on #54
And is this related to #52?

[2016-06-23 02:23] deanrad commented on #54
Good news! This was definitely caused by `practicalmeteor:mocha-core` being at `0.1.4` instead of `1.0.0`, and it's fixed by [this commit](https://github.com/DispatchMe/meteor-mocha-phantomjs/commit/9c2e0cf6a1550951389780bdbb9816ff30d0b8c9)

So just `meteor update dispatch:mocha-phantomjs` if you're missing your server tests is the TL;DR :)

[2016-06-23 02:46] aldeed commented on #23
@rbabayoff @jsep I published new releases of all the `dispatch:mocha*` packages using `practicalmeteor:mocha-core@1.0.0`. As far as I can tell, everything is working well and there are no longer conflicts between the packages.

@tmeasday Here is a PR updating todos app: https://github.com/meteor/todos/pull/153 And the note in the guide should be updated as mentioned by @M4v3R above. If the latest

[2016-06-23 13:38] jsep commented on #54
hello @deanius this is related to a conflict between `practicalmeteor:mocha` and `dispatch:mocha-phantomjs`. See #23 for more details. I looks like with the update of `dispatch:mocha-phantomjs` It's resolved.

[2016-06-23 13:40] joncursi commented on #48
@jsep it looks like this issue has been corrected in the combination of Meteor 1.3.4 + practicalmeteor:mocha 2.4.5_4 (not sure which had the bug). After running `meteor update` ...

[code]

the test suite is functional again for me.

[2016-06-23 13:40] #48 closed, assigned to nobody

[2016-06-23 13:51] #54 closed, assigned to nobody

[2016-06-23 13:52] jsep commented on #23
Those are great news, thank you so much @aldeed !

[2016-06-23 19:55] jsep commented on #51
Hello @asdfjackal and @walliski I just release a new version should solve this issue:

Run this:

[code]

[2016-06-24 12:04] gladiussdv commented on #51
Hello @jsep! I had the same error that mentioned by @asdfjackal. I have error while I am installing the package on windows 10:
meteor add practicalmeteor:mocha@=2.4.5-rc5.1
 => Errors while adding packages:

While checking for practicalmeteor:mocha@2.4.5-rc5.1:
error: No compatible binary build found for this package. Contact the package author and ask them to publish it for your platform.

I have

[2016-06-24 12:12] jsep commented on #51
Hello @gladiussdv there is an error with meteor, I can't publish the package for windows architecture, not sure why :confused:

[2016-06-27 02:33] teeks99 opened #55 "Conflict with dispatch:mocha-phantomjs in firefox"
So this seems like to be a leftover issue after #23 was closed (which is why I'm putting it in this repo @aldeed). Now the practicalmeteor:mocha results render correctly, in chrome and IE, but _not_ in firefox. Not sure about others.

This can be reproduced by having a running practicalmeteor:mocha page running correctly and showing in firefox, then adding the dispatch:mocha-phantomjs package to t

[2016-06-27 09:14] walliski commented on #51
@jsep Any progress :) ?

[2016-06-27 14:35] PolGuixe commented on #52
I have the same issue. This is weird. @tmeasday if you want to reproduce it, take the todos-react app. Do a `meteor update` and then `npm run test-watch`. And you'll get the error.

And the todos app is using: `practicalmeteor:mocha@2.1.1-rc.1`

[2016-06-28 01:55] tmeasday commented on #52
@PolGuixe that branch appeared to be missing `session` from its `.meteor/packages` but apart from that is working fine when I update it..

[2016-06-28 20:32] jsep commented on #51
Hello @walliski @gladiussdv, @asdfjackal,

Now you can try the release candidate:

 `meteor add practicalmeteor:mocha@=2.4.5-rc5.5`

[2016-06-28 20:47] jsep commented on #55
Hello @teeks99, thanks for reporting, I have some questions

Are you using the latest packages versions?
Which OS?
Which meteor version?
Can you provide a demo repo?

Thanks

[2016-06-29 01:10] teeks99 commented on #55
Yes, installed in the demo today:

practicalmeteor:chai@2.1.0_1
practicalmeteor:loglevel@1.2.0_2
practicalmeteor:mocha@2.4.5_4
practicalmeteor:mocha-core@1.0.0
practicalmeteor:sinon@1.14.1_2

dispatch:mocha-phantomjs@0.1.6
dispatch:phantomjs-tests@0.0.5

Tried it on Linux (Ubuntu 16.04), I think another person on my team saw it on windows.

$ meteor --version
Meteor 1.3.4.1

https://github.com/tee

[2016-06-29 07:57] gladiussdv commented on #51
Thanks! It works!!!

[2016-06-29 09:54] PolGuixe commented on #52
@tmeasday I am still getting this error:

[code]

[2016-06-29 11:25] PolGuixe commented on #52
I have done the following.

Create a new app:
`meteor create test-meteor`

Add practical meteor mocha:
`cd test-meteor`
`meteor add practicalmeteor:mocha`

Run the app:
`meteor`

Works ok.

Run the tests:
`meteor test --driver-package=practicalmeteor:mocha`

Fails with the Error on the comment above.

Downgrade to 1.3.1:
`meteor update  --release 1.3.1`

Run tests again:
`meteor test --driver-pack

[2016-06-29 16:24] PolGuixe commented on #52
@tmeasday Ok, don't ask me what happened. But I've tried it on a different machine and it was working.

So I reinstalled meteor on the machine I was having the problem and now it works...

[2016-06-29 20:06] PolGuixe opened #56 "If the tests are inside a folder called tests it won't find them"
files called `*.test[s].js` inside a `**/tests` folder are not executed by the runner.

[2016-06-29 22:54] rbabayoff commented on #52
@theodorDiaconu can you also reinstall meteor to see if it solves it?

[2016-06-29 22:58] rbabayoff commented on #11
@keyscores , @apendua and @loirit can you check if this still happens with latest version? We solved some related issues, and we can't reproduce this one.

[2016-06-29 23:00] rbabayoff commented on #55
@aldeed, any clues? It works for us without the dispatch:mocha-phantomjs package

[2016-06-29 23:05] rbabayoff commented on #56
@PolGuixe I think this is by design, the way meteor implemented it. Folder named tests are ignored for backward compatibility reasons. Am I correct, @tmeasday?

[2016-06-29 23:43] #51 closed, assigned to nobody

[2016-06-30 16:01] PolGuixe commented on #56
@rbabayoff Could we point the package to search in such folders? With some sort of indicator e.g `/**/tests/**/*` or flag?

[2016-06-30 23:57] tmeasday commented on #56
Yeah, this is by design, and part of the Meteor build system.

Kind of complicated why we decided to go this way, not sure it was the right call. But the idea is that you put the tests next to the thing you are testing.

[2016-07-01 03:16] teeks99 commented on #55
Verified the same issue occurs for meteor running on windows. (in reference to the previous OS question)

[2016-07-05 16:07] serut commented on #39
Let's be clear about meteor coverage !

Istanbul can hooks `require('vm').runInThisContext` (see the `.meteor\local\build\programs\server\boot.js#278` file to see the call) to instrument a file and when you execute some code of that file, the coverage report (a global variable) is updated. It's totally possible to get the meteor coverage using istanbul.

By default, Istanbul only instruments the `

[2016-07-05 16:23] rvetere commented on #39
OMG how could i _not_ find this awesomely looking package "serut/meteor-coverage"...? I was already convinced i'll have to mock trough my entire meteor stack with my webpack.test.js what would have costs month (as i'm not familiar with the entire stack anyways) - so i just started to live with the decision "ok so our super-awesome new stack won't have coverage at all... hmpf..."

i'm not sure yet

[2016-07-05 17:16] aldeed commented on #52
I had the same problem trying to run the repro from https://github.com/practicalmeteor/meteor-mocha/issues/55, and reinstalling Meteor fixed it.

[2016-07-05 17:47] aldeed commented on #55
This is fixed by `dispatch:mocha-phantomjs@0.1.7`. Some bad shimming that applied only to mozilla. The shimming was for slimerjs only apparently so isn't needed. I removed it and things seem to work now. @rbabayoff you can close this

[2016-07-05 17:53] aldeed opened #59 "Use `runTests` function for Meteor 1.3"
I noticed that this package is still running tests on client startup. This means it's running tests when dispatch:mocha-phantomjs is used as the driver for the current run (assuming both pkgs are added), which doesn't really cause problems but shows confusing logging in the console and is inefficient.

The problem is here: https://github.com/practicalmeteor/meteor-mocha/blob/meteor/meteor/src/lib/

[2016-07-06 01:57] teeks99 commented on #55
Verified that this fixes it :-)

[2016-07-06 19:53] #55 closed, assigned to nobody

[2016-07-06 19:53] jsep commented on #55
Thanks @aldeed !

[2016-07-06 19:53] #56 closed, assigned to nobody

[2016-07-06 19:55] jsep commented on #59
Yes you are right, I'm going to fix this after in the next release.

[2016-07-06 21:08] jsep commented on #52
Reinstalling meteor seems to solve this issue.

[2016-07-06 21:08] #52 closed, assigned to nobody

[2016-07-12 00:03] 0o-de-lally commented on #11
@rbabayoff Yes I'm still getting false positives.
In console I see:

In reporter I see a checkmark, for passing.

[2016-07-12 02:08] jsep commented on #11
@keyscores can you provide a repo? That would be awesome! :smile:

[2016-07-12 17:24] keyscores commented on #11
Certainly:  https://github.com/keyscores/meteor-mocha-issue-repro

It also includes a bonus issue, where the test runner reports a timeout instead of an assertion failure on callbacks.

[2016-07-12 18:16] 0o-de-lally commented on #11
Certainly: https://github.com/keyscores/meteor-mocha-issue-reproduction

I've made several variations on sync/async methods, and using fibers/future for waiting for the result. The issue is clearly with using futures in the mocha scope.

I added a bonus issue, where mocha reports a timeout instead of assertion fail within method callbacks.

Hope it helps.

[2016-07-12 21:16] jsep commented on #11
Thanks @keyscores for the repo, the fibers are messing around.

I fails even using `Meteor.setTimeout()` to report an uncaught exception, instead it reports timeout error for example:

[code]

Using 'normal' `setTimeout` it works as expected:

[code]

[2016-07-12 21:45] 0o-de-lally commented on #11
Yeah looks like it's any use of fibers that causes it. Any thoughts on the second issue, which is where assertion failures are marked as timeouts? Does that need another github issue?

[2016-07-13 22:26] #59 closed, assigned to nobody

[2016-07-18 01:42] tmeasday commented on #11
1. The issue here: https://github.com/keyscores/meteor-mocha-issue-reproduction/blob/master/server/main.app-test.js#L25

   is that `Meteor.call` wraps exception handling in the callback. Possibly we could add a test hook to livedata that passes such exceptions right through. I don't think this is a problem with this package though, it's a core Meteor issue/feature.
2. The issue here is you call `

[2016-07-18 01:43] tmeasday commented on #11
@jsep the `Meteor.setTimeout` problem is the same -- Meteor doing it's own exception handling, which bypasses Mocha's

[2016-07-20 04:31] noahsw opened #60 "Only run tests that have changed?"
I'm using this as my testing command: `meteor test --driver-package practicalmeteor:mocha`.

This works great in the sense that when I change a file, it runs my tests. However, it runs _all_ my tests. It'd be great if this could just run tests that have changed. Or tests that have imported files that have changed.

Thx in advance!

[2016-07-21 16:55] dovrosenberg commented on #60
This would be a great feature to have.  In the meantime, I've created a script to change some/all of my filenames between *.skiptest.js and *.test.js to be able to better focus on the files I'm working on.  Not conducive to group projects or CI, though.

[2016-07-21 17:10] dovrosenberg opened #61 "Intermittent errors caused by sinon?"
I've been struggling with mocha recently - getting errors that only come up intermittently.  All server-side tests.  Obviously makes it very hard to track down.

The errors appear to be caused by sinon stubs not being setup properly, because they are being generated by lines of code in the non-stubbed version of the function.  But they don't always occur, and they don't always occur from the same

[2016-07-22 11:37] dovrosenberg commented on #61
My apologies.  I think I determined the problem.  Some of the tests were (intermittently) timing out.  I thought that was caused by the error from the non-stubbed function.  But I think it's actually the other way around.  The test would timeout, that would cause the stub to be removed in the after() hook, which then threw the error because the code was still running, I guess.  Increasing the time

[2016-07-22 11:37] #61 closed, assigned to nobody

[2016-07-29 09:15] stroiman opened #62 "Mocha's `this` context is reset between functions"
When adding data to mocha's context, the data disappears, or the context is reset. For example, I commonly use this pattern when testing node.js code, but it doesn't work in meteor:

[code]

[2016-08-05 10:52] do-n-khanh opened #63 "meteor add practicalmeteor:mocha return errors"
I ran `C:\Meteor\base>meteor add practicalmeteor:mocha`
## and i got error

C:\Users\Khanh\AppData\Local.meteor\packages\meteor-tool\1.4.0\mt-os.windows.x86_32\isopackets\ddp\npm\node_modules\meteor\promise\node_modules\meteor-promise\promise_server.js:165
      throw error;
      ^

Error: ENOENT: no such file or directory, open 'C:\Users\Khanh\AppData\Local.meteor\packages\practicalmeteor_mocha\

[2016-08-06 18:10] jonmc12 commented on #62
I'm seeing this issue when implementing Mocha's [shared behaviors](https://github.com/mochajs/mocha/wiki/Shared-Behaviours).  However, I also have the issue when I use `dispatch:mocha` as the driver-package.

[2016-08-11 18:19] riiiiizzzzzohmmmmm opened #64 "Support Mocha's --grep option"
Any plans to support the `--grep` or other options for Mocha? My specs are all checked in, so it's not great to have to go add `.skip()` to disable my entire test suite when I want to develop some new tests, etc., and after some searching for how to run only certain specs, that's the only way I've found.

Would it help if I submitted a pr?

[2016-08-17 10:26] huttarichard opened #65 "Angular Meteor testing, before vs beforeEach"
Hi there, great job, I don't know if this is more issue of angular mocks or meteor-mocha by I try to ask here:

Not working example:

[code]

you got an error

[code]

however if you change before to before each it will work properly

Working example:

[code]

What is this all about, is it just my misunderstanding of angular-mocks libary or is this bug within meteor-mocha package?

[2016-08-17 10:40] huttarichard commented on #65
I also tried something like this:

[code]

this example not execute inject function, instead return `workFn` which you must execute by yourself in correct context, otherwise give you something like `cannot read property '$modules' of null`. Same problem same place, if you change before for beforeEach it will run properly

[2016-08-18 07:35] laurentpayot opened #66 "embedded chai is out of date"
From the version file I can see that embedded chai version is 2.1.0_1. Current chai library on npm is 3.5.0. The old one used by meteor-mocha misses quite useful assertions such as `chai.assert.isAtLeast` or `chai.assert.isAtMost` and more, so I have to import chai via npm anyway. It could be the time for an update…

PS: I love meteor-mocha. Wish it was on npm...

[2016-08-18 13:53] rhettlivingston commented on #66
Or it could be the time to remove embedded chai now that it works nicely
from npm. I stopped using it months ago and have seen no issue with using
the npm package directly.

On Thu, Aug 18, 2016 at 3:35 AM, Laurent Payot notifications@github.com
wrote:

[2016-08-29 23:27] 0o-de-lally commented on #64
+1
I have tests that are marked "TODO:" which are features that I'm working on, but are not breaking the app. I'd like to be able to:

[code]

[2016-09-08 02:13] sonicviz opened #67 "Windows/Crash"
I was running through the official meteor react tutorial as I could not get their githup repo to run.

It fails on the Testing step https://www.meteor.com/tutorials/react/testing
when trying to add mocha

The issue appears to be when it downloads and extracts
Extracting coffeescript@1.0.17...

Something to do with Meteor 1.4.1_1 and  coffeescript@1.0.17

G:\Meteor Projects\Project X\simple-todos\s

[2016-09-08 02:27] sonicviz commented on #67
Yes, issues appears to be with coffeescript.

If I do
Meteor add coffeescript
then
Meteor add practicalmeteor:mocha

it's fine

[2016-09-13 14:56] theodorDiaconu opened #68 "Export does not work with the tests"
However, import works. Super weird. I have main.js, and I import ./collection.js. And I export something in collection.js and it fails like:

`W20160913-17:23:53.236(3)? (STDERR) /tmp/meteor-test-run8ojy8z/.meteor/local/build/programs/server/packages/local-test_cultofcoders_links.js:216
W20160913-17:23:53.236(3)? (STDERR) export default {
W20160913-17:23:53.238(3)? (STDERR) ^^^^^^
W20160913-17:23:

[2016-09-14 06:16] theodorDiaconu commented on #68
Update! it seems that if I import something in a test file. I have no ES6.

[2016-09-15 14:18] TimeBandit opened #69 "Very simple test cases seem coupled to descriptive tests in tests and fail"
### Background
- I have some prior testing experience with Mocha & Chai through an [npm](https://www.npmjs.com/package/charity-commission-api) package I have authored and written tests for.
  ### The Issue
- After my core code began getting braided I decided to embark on decoupling the code and writing tests.
- Each `describe` and `it` take as their first parameter some descriptive text. Weather o

[2016-09-17 11:52] #69 closed, assigned to nobody

[2016-09-17 11:53] TimeBandit commented on #69
I am using tests within a test folder. So this issue can be ignored.

[2016-09-18 16:54] jakelacey2012 commented on #11
Hi @tmeasday thanks for you hard work on this it is appreciated! :)

I have a very simple test here,

[code]

I get this false positive...

[code]

[2016-09-19 00:55] tmeasday commented on #11
@jakelacey2012 I think the thing to do here is to wrap your `Meteor.call` callbacks in an exception handler:

[code]

In general you have to do this for mocha when you are doing async stuff anyway (unless you can return a promise), I often have something like:

[code]

[2016-09-19 00:56] tmeasday commented on #11
Unless others have a better way of dealing with this?

[2016-09-19 15:40] jakelacey2012 commented on #11
@tmeasday cheers will give that a go :)

[2016-09-19 19:07] jakelacey2012 commented on #11
sweet, that worked for me. The only thing I needed to add was calling the done function inside the callback statement

[code]

[2016-09-27 23:35] 0o-de-lally opened #70 "Updating to Meteor 1.4 tests fail"
My project has 50 tests in 5 different files, all running successfully in meteor 1.3.5.
After I updated to meteor 1.4.1, only one test  is running, and it's failing ( the alphabetical first file in the directory).
I'm getting  a silent error without any logging:

[code]

I don't see anything in the docs that would indicate a change. Any ideas?

[2016-09-28 14:15] 0o-de-lally commented on #70
@jsep , have you had any issues with upgrading to 1.4.1? Thanks in advance for your help!

[2016-09-29 01:27] jsep commented on #68
Hello @theodorDiaconu , make sure you are using the `ecmascript` package also under `Pacakge.onTest()`

I'm going to close this because it's not related to this package, it have to be posted in the meteor repo instead.

[2016-09-29 01:27] #68 closed, assigned to nobody

[2016-09-29 01:28] jsep commented on #67
Hello @sonicviz , I'm glad that the issue was solved.

[2016-09-29 01:28] #67 closed, assigned to nobody

[2016-09-29 01:44] jsep commented on #62
Hello @PeteProgrammer I was able to reproduce the problem only in the server, but something interesting happen when I used the arrow function ( `() =>{}` ) instead of the normal function, It works as expected, so as a workaround you can try use the arrow function (even so the official mocha documentation says no).

This is working for me:

[code]

Maybe the next release is going to be fixed.

[2016-09-29 01:48] jsep commented on #63
Hello @do-n-khanh can you try to install the package again after a `meteor reset` ?.

This it's not a problem with package itself it's probably meteor's , I've installed without problems.

Closing this, if re-open the issue if still persists

[2016-09-29 01:48] #63 closed, assigned to nobody

[2016-09-29 02:14] jsep commented on #64
Hello @riiiiizzzzzohmmmmm, @keyscores one way right now it's using the `grep` query string in the url for example: `http://localhost:3100/?grep=testname`.

Other way it's clicking the suites name in the html reporter
![cop](https://cloud.githubusercontent.com/assets/4037939/18938744/dbc61c56-85c8-11e6-9d90-7994df59f00f.png)

The problem to support the grep option from the command line it's that me

[2016-09-29 02:16] jsep commented on #70
Hello @keyscores I didn't have any issues with the latest version of meteor, however it seems to be a exception with on test in the server but it's really hard to tell without any code.

Can you provide a repo that duplicate this?

[2016-09-29 04:13] 0o-de-lally commented on #70
Thanks @jsep for looking into this. I'll try to make a reproduction that I can share in public. What is unusual is that only one test runs, and nothing else runs.

[2016-09-29 04:40] theodorDiaconu commented on #68
@jsep I was using ecmascript. The issue was because I was in "tests" folder. Renaming it to "testing" solved the problem.

[2016-09-29 18:31] 0o-de-lally commented on #70
@jsep Here's a repo that isolates the issue.
Previously a beforeEach() was acceptable outside of a describe() block. I may have had bad code and not realized it. Anyhow, this kind of error should be verbose IMHO.

https://github.com/keyscores/debug-meteor-mocha

[2016-09-29 19:47] jsep commented on #70
Thanks @keyscores for the repo, the problem specifically with the `beforeEach()` was that the callback was the `done` argument.
You have this:

[code]

It should be like this:

[code]

You can you use any mocha hook such as `beforeEach, afterEach` outside of a `describe` block, but take in mind that those hooks are going attach to the root suite, so they are going to run in _every_ suite of you te

[2016-09-29 19:47] #70 closed, assigned to nobody

[2016-10-02 22:09] namirsab opened #71 "MochaRunner.onServerRunSubscriptionReady is failing"
When  I run the command:
`meteor test-packages --driver-package=practicalmeteor:mocha`
without any arguments, just to run it on all the packages.

Then the first time i see the tests running.

But when I reload the page, i get this console error:
`MochaRunner.onServerRunSubscriptionReady: error(500)`

Basically is telling that the method `mocha/runServerTests` does not exist
How is that possible?

[2016-10-02 22:10] namirsab commented on #71
I'm using Meteor 1.4.1.1

[2016-10-02 22:41] namirsab commented on #71
Okey i've found the issue.
I was changing `Meteor.isServer` in a test, but not restoring it.

[2016-10-02 22:41] #71 closed, assigned to nobody

[2016-10-05 13:06] ankibalyan opened #72 "Error while installing mocha"
I'm trying to install `practicalmeteor:mocha` in `Meteor 1.4` getting and getting following error.

`/Users/.meteor/packages/ecmascript/.0.5.8.xrqpml++os+web.browser+web.cordova/plugin.compile-ecmascript.os/npm/node_modules/meteor/promise/node_modules/meteor-promise/promise_server.js:165`

[code]

[2016-10-05 13:11] ankibalyan commented on #72
Node version I'm using is
`node -v`
`v6.4.0`

[2016-10-05 17:19] jsep commented on #72
Hello @ankibalyan this error is not related to this package itself, is a meteor issue instead, since meteor is   handling the installation problem.

I didn't have any problem installing mocha from scratch.

[2016-10-05 17:19] #72 closed, assigned to nobody

[2016-10-05 17:29] ankibalyan commented on #72
@jsep But my app is working fine if I remove this, with no error. How can i figure it out, which what is causing this issue?

[2016-10-06 18:11] ratiofu commented on #44
@jsep you rock. Thanks!

[2016-10-12 17:23] 0o-de-lally opened #73 "Web reporter only displaying client tests on meteor 1.4"
After upgrading to meteor 1.4, I've noticed only client tests are appearing in the browser.

Both client and server tests are running, however only the client ones display. If I disable the client tests (comment-out ), then server results will be displayed.

I am using iron-router, but I disabled all the routes, and I get the same issue.

Anyone else experiencing this?

[2016-10-13 05:07] awatson1978 opened #74 "Coffeescript dependency is brittle; breaks all the time"
Coffeescript dependency is brittle and breaks all the time.  Is it really needed?  Shouldn't that be a dependency of the reporter, not the mocha runner?

We've been very careful to audit all of our packages, and not introduce coffeescript into our build pipeline; and `practicalmeteor:mocha` kicks up coffeescript errors when added to our app.  :(

[code]

[2016-10-18 16:11] jakelacey2012 opened #75 "Cant find test driver"
When I run
`meteor test --once --verbose --driver-package=practicalmeteor:mocha --port 3300 --settings config/mysettings ./`

I have a directory in the root of my application call tests which will hold my tests.

Thank you in advance, let me know if you need more info

I get this error,

[code]

[2016-10-20 11:14] elenadimitrova commented on #73
I am experiencing the opposite, only server tests display in browser when running
`meteor test --driver-package practicalmeteor:mocha`

[2016-10-28 08:39] ericvrp commented on #73
Only seeing server tests

[2016-10-28 11:27] mibcadet commented on #73
Same here, only server side tests

[2016-10-28 16:52] mibcadet commented on #73
Same here, only server side tests

Update: when I removed packages dispatch:mocha-phantomjs and dispatch:mocha-browser from .meteor/packages list this issue disappeared. I think they may be in collsion, even if you specify --driver-package.

[2016-11-07 12:24] carinakoo commented on #40
In case anyone else has this issue, for me the source was a client side test which opened a modal and set `overflow:hidden` on the body. Closing the modal in the test solved it.

[2016-12-09 03:14] ckiely91 opened #76 "Error: There is already a collection named "mochaServerRunEvents""
Hey there,

Trying to run the following: `meteor test --driver-package=practicalmeteor:mocha` results in the following error that subsequently exits:

[code]

Running Meteor 1.4.2.3, Mac OS 10.12.1. Let me know if you need any more info. I'd appreciate any help on the above!

[2016-12-09 04:39] ckiely91 commented on #76
Solved the issue - I mistakenly still had the avital:mocha package added to my project.

[2016-12-09 04:39] #76 closed, assigned to nobody

[2016-12-11 00:26] 0o-de-lally commented on #73
@jsep I'm still having issues with this. Any more complex client integration test runs into conflict with server tests. Is there a way to first run client and then server tests ( sequentially )?

[2017-01-07 16:41] riiiiizzzzzohmmmmm commented on #64
interesting. okay, i will look into this further sometime in the next few days. thanks!

[2017-01-08 21:38] optilude opened #77 "When an assertion fails on a client unit test, the reporter doesn't log in console or display a sourcemap aware line number"
If a client unit test fails, I get an error like:

[code]

With an app-test, I get an exception in the console that references the actual file and line number where the assertion failed (presumably using the sourcemap) and allows for deeper inspection.

With a client unit test, I only get the above, which is annoying, because I now have to re-run the test with a breakpoint to figure out what's act

[2017-01-26 00:11] realyze opened #78 "Describe.only and it.only doesn't work"
Thanks for this great package!

I've found that `describe.skip` works as expected (i.e., skips the test suite), but `describe.only` and/or `it.only` doesn't seem to have any effect whatsoever making it pretty hard to debug tests.

I'm on Meteor 1.4, running with `--full-app`.

[2017-02-02 15:58] xwilders opened #79 "Timeout of 2000ms exceeded when rebuilding - fixed on reload"
Almost every time I make a change to a server test, Meteor server restarts and the first test reports a timeout error. I then need to manually refresh to see my tests run properly.

Increasing the default timeout high enough, I'll observe the very first test taking >2000ms until I reload. This happens regardless of which test runs first (even if the tests are very quick).
I've profiled the server

[2017-02-10 09:34] costezki opened #80 "custom reporters not diocumented"
I am trying to replace the default HTML with "mochawesome" but cannot get my head around it.
Essentially I would like to know how to customize the theme (need a dark one) or use a third party HTML reporter.
Could you please document and as well briefly point me into the right direction of how to use meteor+practicalmeteor:moch+mochaawersome OR meteor+practicalmeteor:moch+custom-defined-CSS.

[2017-02-18 18:10] riiiiizzzzzohmmmmm commented on #64
@keyscores circling back around to this now. still very much interested in supporting mocha's grep option. i'll try to tackle this next week.

[2017-02-23 11:40] #75 closed, assigned to nobody

[2017-02-27 16:48] Pushplaybang commented on #73
Freaked out when I first experienced this, for me, at least I found it was due to unreported errors, that were the result of trying to import server modules on the client or vice versa.  Hope this helps

[2017-02-27 22:37] 0o-de-lally commented on #73
You most likely need a test runner that runs in series instead of parallel.
Try the new dispatch:mocha and run it on electron for headless tests. Very
reliable for me.

[2017-02-28 19:06] jaskinn commented on #78
I am also experiencing this.

[2017-03-02 04:33] Pushplaybang commented on #73
@keyscores  I really don't think that's the issue, had endless problems with getting dispatch:mocha  setup propoerly under OSX, with both phantom and electron.

client or server tests being hidden, for me at least, was only related to not structuring my imports correctly.

regarding series vs parrallel:

* **Unit test** require isolation so there should be no interaction between the client and ser

[2017-03-02 09:02] theodorDiaconu opened #81 "No promise ?"
[code]

[2017-03-02 09:02] theodorDiaconu commented on #81
Code that triggers this:

[code]

[2017-03-02 09:03] theodorDiaconu commented on #81
This used to work. Weird.

This is how I am running tests:
[code]

In browser everything works fine with:
[code]

I tried requiring 'promise' as the meteor package, but was not helpful.

[2017-03-02 09:34] theodorDiaconu commented on #81
This is related to phantomjs and the env. Definitely unrelated. Sorry.

[2017-03-02 09:34] #81 closed, assigned to nobody

[2017-03-02 17:13] 0o-de-lally commented on #73
I had issues dispatch:mocha only when practicalmeteor:mocha was also installed. After uninstalling practicalmeteor it was fine. There are OSX issues with meteor which affects electron see fix here: https://github.com/DispatchMe/meteor-mocha/issues/11

[2017-03-05 11:18] Pushplaybang opened #82 "SpaceJam and 2.4.5_6 Hangs, or returns no output."
Having some weird issues with little visibility into whats causing them.

## Summary
* the web reporter seems be running fine.
* specifying the console reporter returns nothing to the console.
* using it with practiclemeteor:console-test-runner causes it to hang.

I've tried to explain my specific issues and the circumstances of them below, please let me know what other information I can provide.

[2017-03-10 19:31] papinaser commented on #67
Thanks @sonicviz  it worked for me.

[2017-03-23 10:09] thebarty opened #83 "How to set custom mocha-options (like timeout)?"
Hi guys,

a stupid question: how do I set custom mocha options? I'd like to increase standard timeout to 5000?

[2017-03-23 10:31] thebarty commented on #79
just confirming that I see that a lot too

[2017-04-11 23:54] mordka commented on #78
It was always like that. You get used to it.

[2017-04-11 23:57] realyze commented on #78
@mordka No you don't. :-) I've switched to https://github.com/DispatchMe/meteor-mocha and it works as expected.

[2017-04-12 00:26] mordka commented on #78
Awesome tip! I didn't track this area. I need to update my projects then!

[2017-04-28 18:46] reywood opened #84 "Client and server app tests run at the same time?"
It appears that client app tests and server app tests are run simultaneously. This makes it really hard to run client and servers app tests that need to do some database setup beforehand. I've created a simple meteor app that demonstrates the simultaneous running of tests.

https://github.com/reywood/practicalmeteor-mocha-simultaneous-tests

[2017-05-03 20:01] macsj200 commented on #11
I'm still getting this issue. It seems to work fine on the first run, but after a hot code push reload the server side test results just aren't delivered to the UI. Any ideas?

[2017-05-03 20:51] apendua commented on #11
@macsj200 You can try another - yet very similar - test driver:

https://github.com/gagarinjs/meteor-mocha

[2017-05-03 20:54] macsj200 commented on #11
I've evaluated some other driver packages, and many of them have their own issues. I'd like to stick with the packages suggested in the meteor guide. That being said, I'm willing to consider this as a workaround if all else fails. Do we have any idea what's causing the core issue here? I can help make a minimal repro with some guidance.

Edit: tried the suggested package, worked like a dream. I gu

[2017-05-16 17:14] DanceParty commented on #79
I am seeing this a lot on my insert/remove tests. Any reason why?

EDIT:

![image](https://cloud.githubusercontent.com/assets/10778294/26119032/bd719da4-3a20-11e7-93ea-afdb9c7d93ec.png)

[2017-05-18 13:14] nicklozon commented on #84
Also curious about this. I'm not currently using Mocha for my Meteor projects, but a github user reported an issue and I noticed that he was using a beforeEach on tests and the client test was wiping out the server data: https://github.com/nicklozon/meteor-collection-revisions/issues/2#issuecomment-302268660

[2017-06-06 22:56] ArnieGA commented on #84
This thing works great with Meteor, I'm loving this package a lot.  Yes, they do perform on both sides at the same time, UNLESS you specifically tell Meteor how you wish them to run:
[code]
Very nicely displayed in the browser...great separation of concerns, I love this package!

[2017-06-08 04:35] hymdc commented on #79
Any progress on this issue?

[2017-06-08 04:47] DanceParty commented on #79
@maiduchuy Not on my end, just removed the tests for now.

[2017-06-08 09:04] xwilders commented on #79
@maiduchuy Likewise, trying to migrate off Meteor for testing because of multiple problems like these.

[2017-06-13 18:21] ArnieGA commented on #84
In Meteor just use Meteor.isClient | Meteor.isServer and that'll separate the concerns.

[2017-06-13 18:22] reywood commented on #84
@ArnieGA That will not fix this problem.

[2017-06-13 18:27] ArnieGA commented on #84
Ugh! My fault...didn't realize your issue was related to the need of setting up some stuff before running the tests and not the client/server test code running at the same time.

[2017-06-13 19:14] ArnieGA opened #85 "Can't add the library to Meteor@1.5"
`meteor add practicalmeteor:mocha` fails

error line:
**C:\Users\ my user \AppData\Local\.meteor\packages\meteor-tool\1.5.0\mt-os.windows.x86_32\dev_bundle\lib\node_modules\meteor-promise\promise_server.js:218**

error:
**Error: No metadata files found for isopack at: /C/Users/my user/AppData/Local/.meteor/packages/coffeescript/1.0.17**
    _at [object Object]._.extend._loadUnibuildsFromPath (C:\t

[2017-06-16 05:26] ghost opened #86 "Mocha Test Execution Not Working Properly With My Meteor Blaze App"
**I am using Mocha for testing Meteor Blaze App.**

**a)**
![image](https://user-images.githubusercontent.com/28865202/27212996-a20191b8-5281-11e7-9885-fb31f7851c60.png)

**b) When I refresh my app then the output of test cases is:**
![image](https://user-images.githubusercontent.com/28865202/27213024-d35e2d98-5281-11e7-9218-c29ddfc1b871.png)

**c)When I refresh again my app then the output of tes

[2017-07-24 20:19] Falieson opened #87 "Upgrading to Meteor1.5 : TypeError: module1.exportDefault is not a function"
Updated a project to 1.5.0 and started receiving the below error when running meteor test.

I have isolated this to a problem with updating to Meteor 1.5.x (1.5.1 too) by aligning all the packages listed in `.meteor/packages` with the package versions before upgrading.

**Error**
[code]

**Working Package 1.4.4.2**
[code]

**Broken Package 1.5.0**
[code]

Asked on Stack Overflow: https://stackover

[2017-07-28 20:59] hassanshaikley opened #88 "Output in Chrome console includes "stdout:"-prefixed lines"
I am running into this issue.

[Output in Chrome console includes "stdout:"-prefixed lines #2095](https://github.com/mochajs/mocha/issues/2095)

It would be really nice if the console output wasn't so cluttered with `stdout: [2K` and `stdout: [0G
`

[2017-07-28 21:15] #88 closed, assigned to nobody

[2017-08-29 06:46] ghost commented on #86
After using routing and defining routes this problem has been solved.

[2017-08-29 06:46] #86 closed, assigned to nobody

[2017-09-26 14:06] FrenchMajesty commented on #83
@thebarty You can do it like this:

[code]

[2017-09-26 14:16] FrenchMajesty opened #89 "Use mocha commands to test with css modules"
Hello,

It is known that Mocha has problems with css modules. In order to successfully run tests despite them we are left with two solutions.

* To use the `ignore-styles` package with mocha and use it like so:
`mocha --require ignore-styles`

* To use compiler.js to ignore .css files and use it like so:
`mocha --compilers js:babel-core/register,css:noCss-compiler.js`

However I could not find any

[2017-09-27 09:39] romainkoenig commented on #83
@FrenchMajesty
Sadly I got this, do you know if there is another way ?
`Error: _this.timeout is not a function`

[2017-09-27 15:43] Gobliins opened #90 "Error: ENOENT, no such file or directory '/node_modules/webdriverio/build/lib/protocol'"
I try to import something from a library which  i included with `npm install webdriverio`
But on the `import { remote } from 'webdriverio';` or `const web = require('webdriverio');`
I get this error:
`Error: ENOENT, no such file or directory '/node_modules/webdriverio/build/lib/protocol'`
But the folder exists.

I run my tests with:
`meteor test --driver-package practicalmeteor:mocha --port 24000`

[2017-10-01 16:15] fumbleforce commented on #83
@romainkoenig Are you using arrow functions in describe and it? Won't work if you have those.

[2017-10-01 19:42] romainkoenig commented on #83
yes it was this, I found out after but forgot to respond to myself here

[2017-10-02 01:52] FrenchMajesty commented on #83
Yes arrow functions can cause problems even though I have not had any this
far.

On Sun, Oct 1, 2017 at 2:42 PM Koenig Romain <notifications@github.com>
wrote:

--
Sincerely,

-Verdi

[2017-11-01 13:58] theodorDiaconu opened #94 "Meteor 1.6.0 - Uncaught TypeError: MochaRunner.runEverywhere is not a function"
index.js:11 Uncaught TypeError: MochaRunner.runEverywhere is not a function
    at Object.runTests (index.js:11)
    at meteor.js?hash=6d285d84547b3dad9717a7c89c664b61b45ea3d8:1040
    at maybeReady (meteor.js?hash=6d285d84547b3dad9717a7c89c664b61b45ea3d8:821)
    at HTMLDocument.loadingCompleted (meteor.js?hash=6d285d84547b3dad9717a7c89c664b61b45ea3d8:833)

[2017-11-01 14:23] theodorDiaconu commented on #94
It's related to Meteor Version. Doubt it's a mocha issue.

[2017-11-05 05:27] ghost opened #95 "cannot run tests when appache installed"
This package cannot run tests when meteor appcache package installed.

[2017-11-05 05:32] ghost opened #96 "Is this package actually maintained?"
I can see lots of issues with no answers from any contributors or author, obsolete embedded dependencies and no activity regardgin meteor getting to version 1.5 and even 1.6 already. Is this package maintained by anyone?

[2017-11-07 10:34] Gobliins opened #97 "doesn't run tests"
I have a /test and a /tests directory and my test files follow the *.test.js convention.
Still when i run: `meteor test --driver-package practicalmeteor:mocha` no test is executed...

The tests run when i use mocha --recursive tests

[2017-11-07 16:55] vfonic commented on #94
I'm also seeing this. Why do you think it's related to Meteor version? It could be related to the changes in latest Meteor version: https://blog.meteor.com/announcing-meteor-1-6-abf30f29e2c6

[2017-11-07 17:04] theodorDiaconu commented on #94
@vfonic try these with 1.6
[code]

[2017-11-07 17:35] vfonic commented on #94
Updated the `coffeescript` from `1.11.1_4` to `1.12.7_3` (`meteor` also added `coffeescript-compiler@1.12.7_3`) and it works now again! Thanks!

[2017-11-07 19:59] davidworkman9 commented on #94
@theodorDiaconu thanks!! I tried switching to `meteortesting:mocha` but had a bunch of issues.

[2017-11-16 04:46] helcode commented on #94
running `meteor update coffeescript` should fix your problem.

[2017-11-22 00:26] hems commented on #84
On my case i currently:
 - Call a method on the server form the client to clear the database
 - Run Client tests

If i write server tests, they will run simultaneously but i wish the server tests to run after the client tests so I can check if notifications for other users were created, etcs.

[2017-12-06 05:34] nbiton commented on #89
A workaround I've just started using is to use dynamic imports to load my React components in tests, but only doing it on the client (where I need to test them anyway), as the server setup is the one that can't handle the css modules.
[code]

[2017-12-13 19:05] jasonschock commented on #96
I think you have your answer.

[2017-12-30 19:35] MathiasSM commented on #96
Shouldn't the guys at Meteor discourage the use of unmaintained packages? Meteor has some great ideas but the ecosystem is dying :(

[2018-01-02 11:37] ghost commented on #96
Well problem here is more about old libs written need to be supported actively. In node libs which super old still works, in here things breaking too fast wihout attention.

Even though meteor seems to be going to an end, many important and useful stuff already made. So I think later there will be some other framework built from meteor experience.

[2018-01-05 02:18] charlesdeb commented on #97
I read on the `README.md` at https://github.com/practicalmeteor/meteor-mocha that
[code]
I'm not totally sure what they mean by package, but I think it means you are not supposed to be able to run tests using vanilla mocha as well as the practicalmeteor:mocha driver. It's one or the other. Try moving your tests out of the `\test` folder and into your `imports` folder and see if that makes a differ

[2018-01-05 13:06] Gobliins commented on #97
So basically, the whole section in "App testing with meteor test" is phony... wth?
So what would be the alternative mike:mocha ?

[2018-01-05 17:20] charlesdeb commented on #97
No not phony at all! If you want to use Mocha with Meteor you have to either use the `meteor test` command with the `practicalmeteor:mocha driver` and write tests named `*.test.js` amongst your application files (which is what I am doing). I don't think (and I am not 100% on this since I have not done it) mike:mocha will work properly on those tests. If you want to use mike:mocha, you'll need to p

[2018-01-09 13:32] Gobliins commented on #97
I did exactly this.

Same here, main problem is that i use a webdriver for node which doesn't know anything about meteor, but this is unrelated to the current problem here.

also i read they want to reorganize meteor to become a node module which would simplify lots of things.

[2018-01-24 08:09] deligent opened #98 "Facing issue while writing test case for `at-form`"
Hi,

I have a Meteor project using BlazeJS. I am writing test case for that project in Mocha for rendering. And i am facing below issue:-

1. I have an `at-form` form both SignIn and SignUp and configure both templates like below.

[code]
2. I have write test case for rendering of SignUp page but not getting template.

[code]

I am getting `Template[template]` as `undefined`.

Please advise how i

[2018-01-26 16:01] abate commented on #97
Maybe related, but I've noticed that if I put my `*.test.js` file in `/imports/tests/test.test.js` it is not run, whereas it is run if in `/imports/test.test.js` ... or maybe related to #56

[2018-01-26 18:27] charlesdeb commented on #97
@abate, I suspect that is exactly what the issue that @Gobliins is facing. Well spotted.

[2018-01-29 09:16] Gobliins commented on #97
That's why i made an extra dir called `/test`not `/tests` , well i am going to check, what happens if i move the tests in the import directory.

[2018-01-30 14:10] jankapunkt opened #99 "Compatibility with Meteor 1.6.1, Babel 7 and Coffeescript 2"
Updating to [Meteor 1.6.1](https://blog.meteor.com/announcing-meteor-1-6-1-50aad71da4e6) creates an implicit dependency to coffeescript2

Is there a goal / effort to update this package (related: #91 ) ?

[2018-01-30 15:54] theodorDiaconu opened #100 "Meteor 1.6.1 Error : Exception while invoking method 'mocha/runServerTests' Error: invalid reporter"
[code]

This is like the best testing package I've seen in a long time. Please communicate if you are still maintaining it. So we at least know whether or not to mobilize and fork it and continue with it.

[2018-01-31 14:56] theodorDiaconu commented on #100
Just use cultofcoders:mocha instead and it will work with 1.6.1. cheers.

[2018-02-01 06:57] theodorDiaconu commented on #99
@jankapunkt try using cultofcoders:mocha

[2018-02-01 09:09] jankapunkt commented on #100
The error above is related to #99 since Meteor 1.6.1 now relies on babel7 and implies CS2, see https://blog.meteor.com/announcing-meteor-1-6-1-50aad71da4e6

[2018-02-01 09:15] jankapunkt commented on #99
The package `cultofcoders:mocha` is not open, there is no source to view. The referenced github repository is instead this one. I don't include closed packages in my project.

I'd prefer the author team to accept #91 or give hints to improvement.

`meteortesting:mocha` is also not an option, since it has a totally different reporting behavior and also breaks my CI pipeline.

Edit: okay I found the

[2018-02-01 09:34] theodorDiaconu commented on #99
@jankapunkt I just published it directly for my use. When I get some time I will make source public.

[2018-02-13 18:05] stolinski commented on #100
cultofcoders:mocha does not work at all for me. `Error: There is already a collection named "mochaServerRunEvents"`

What's odd for me is that this package (practicalmeteor:mocha) was working correctly yesterday and is all of the sudden erroring out without any changes to my platform.

[2018-02-15 00:17] JairAviles commented on #100
Hey @theodorDiaconu I did install the original practical package with the command `meteor add practicalmeteor:mocha`. I got the same exception and after doing some research I came across with this issue.

Afterwards, I remove the package, remove the node modules from my project and install your package with `meteor add cultofcoders:mocha`.

However, after running with `meteor test --driver-package

[2018-02-15 07:31] theodorDiaconu commented on #100
@JairAviles you need to run it with --driver-package=cultofcoders:mocha

[2018-02-15 16:14] JairAviles commented on #100
@theodorDiaconu works fine. Thank you !!!

[2018-02-16 19:15] aogaili commented on #100
@theodorDiaconu thanks for taking the time fix this package for 1.6.1, I too thing is a great test package to maintain going forward. Do you've any plans to publish the cultofcoders:mocha fork?

Thanks

[2018-02-17 08:15] aogaili commented on #96
Meteor core is evolving well, but there are a lot of outdated packages on Atmosphere due to Meteor strategy of shifting focus to NPM. The main recommended packages (such as this one, collection 2, etc) need to be maintained by the current community and the others shifted to NPM.

Abandoned Github packages, especially those related to Node.js are all over the place, and this has to do with the open

[2018-02-19 07:11] theodorDiaconu commented on #100
Hey guys, it was public: https://github.com/cult-of-coders/meteor-mocha

[2018-02-19 08:12] aogaili commented on #99
The cult of coders package is published [here](https://github.com/cult-of-coders/meteor-mocha) now. Ideally the maintainers of this repo update and push to atmosphere, it doesn't seem that hard to make it work again and it's less then ideal to end with two forks and packages on Atmosphere.

[2018-03-19 07:50] sonlexqt opened #101 "Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules after upgrading Chrome"
I'm using `practicalmeteor:mocha` to run integration tests. The command is as follow:
`meteor test --full-app --driver-package practicalmeteor:mocha --settings .settings/localhost.json --port 5000`. The tests ran well before. However, after upgrading to Chrome version 65.0.3325.162 (64-bit), when I run the tests and access `localhost:5000` to see the tests result, I got this error:
[code]

Have an

[2018-03-21 20:01] serut commented on #99
Hello @theodorDiaconu, I'm the author of [meteor-coverage](https://github.com/practicalmeteor/meteor-mocha-console-runner/blob/f1c3f4fa101b89379b9ed362fcda4af145cae923/ConsoleReporter.coffee#L2), and my package also use practicalmeteor dependencies. I would like to know if that's possible to publish a fork of mocha-console-runner on the cultofcoders name. Indeed, [this line must be edited](https:/

[2018-03-22 10:53] theodorDiaconu commented on #99
@serut yes ofcourse, no problem!

[2018-03-22 15:51] serut commented on #99
Nice ! Thank you.
I've updated the readme of my package in that way : https://github.com/serut/meteor-coverage#specific-setup-for-meteor-apps

[2018-04-16 14:05] ravelinx22 commented on #89
Found an easy solution, import the component inside the Meteor.isClient if statement.

[code]

[2018-05-03 12:41] quintstoffers commented on #101
We recently ran into what I assume is the same error. In our case this was caused by an external style sheet (FontAwesome, to be precise). You can find out which sheets are causing the issue by running the following snippet in the console:
[code]

We worked around the issue by not injecting the FontAwesome link when testing (for instance by using `Meteor.isPackageTest`), which is less than ideal b

[2018-05-15 20:01] mariyaniliev opened #102 "Meteor 1.6.1.1 Error: invalid reporter "[object Object]""
![15-22-50](https://user-images.githubusercontent.com/18169713/40079989-517117c4-5892-11e8-854e-0dfb0ac0d24d.png)

Hello guys,
I am using  meteor 1.6.1.1 and practicalmeteor:mocha.
When I run the tests with "meteor test --full-app --driver-package=practicalmeteor:mocha" i get this error.
I will really  appreciate some help .

[2018-05-17 07:56] mariyaniliev commented on #102
Found a solution!
There has been an issue with this library with some Meteor version. To fix it out i used "cultofcoders:mocha"  instead  of "practicalmeteor:mocha".

[2018-05-17 07:57] #102 closed, assigned to nobody

[2018-07-02 07:36] nohaibogdan1 commented on #100
@theodorDiaconu  Thank you. It works for 1.7.0.3 too 👍

[2018-07-22 20:25] Torgen opened #103 "Documented hooks not supported"
In Mocha, the before/after/beforeEach/afterEach hooks take a description and a function;  if you pass only a function, it generates a description for you. This package's versions of those hooks take only a function. Someone reading the mocha docs (like me) and attempting to annotate their hooks would then get an opaque error like:
[code]

[2018-08-02 14:45] fumbleforce commented on #99
@theodorDiaconu Is your fork supposed to make it work with coffeescript 2, or just to avoid the implicit inclusion of cs2 and add support for 1.6.1?

[2018-08-02 15:31] theodorDiaconu commented on #99
@jorgeer works with coffeescript 2.

[2018-08-03 13:30] fumbleforce commented on #99
@theodorDiaconu thanks for replying so quickly! My problem is that it seems the package drags in other practicalmeteor packages like practicalmeteor:chai and sinon, which brings along coffescript conflicts, as they depend on coffeescript 1 it looks like. How did you get around that?

[2018-08-03 13:53] theodorDiaconu commented on #99
@jorgeer go npm! use chai and sinon from there.

[2018-08-06 11:04] fumbleforce commented on #99
@theodorDiaconu Sure, but it seems like the mocha still pulls in the old packages (which I dont use) in package.js, which again depend on cs1:

In cultofcoders:mocha:
[code]

and Im getting

[code]

[2018-08-08 15:35] Jayki-ZX commented on #101
@quintstoffers Hi, I tried copying the snippet on chrome´s console, but didn´t worked for me :(,  It printed out:

 `Failure at sheet: CSSStyleSheet {ownerRule: null, type: "text/css", href: "http://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,400i,600,700", ownerNode: link, parentStyleSheet: null, …}
VM425:7 Failure at sheet: CSSStyleSheet {ownerRule: null, type: "text/css", href: "htt

[2018-08-09 07:46] sonlexqt commented on #101
Hi, I was able to resolve my issue. First, I list out `document.styleSheets` and one of them doesn't have the `cssRules` property. This one comes from the Google Fonts imported in the `<link>` tag. I switched to use CSS `@import` instead and the issue is resolved.
I think there will be a better solution, because [we better to not use @import](https://stackoverflow.com/questions/12316501/including-

[2018-08-09 07:46] #101 closed, assigned to nobody

[2018-08-09 13:29] fumbleforce commented on #99
Screw coffeescript!
I made another [fork](https://github.com/hubroedu/meteor-mocha),  that strips out all that coffee and adds a cool green on black theme.

[decaffed:mocha](https://atmospherejs.com/decaffed/mocha), if anyone else is tired of coffeescript conflicts.

[2018-08-09 21:02] Jayki-ZX commented on #101
I have 3 fonts giving me trouble, I tried writing the `@import` statements on my project css file and changing the fonts but It seems like im editing the wrong files, where did you add the import statements?

Update: Never mind, your fix worked for me too!, although I had to delete `natestrauser:font-awesome` via `meteor remove natestrauser:font-awesome`. Now my projects/test client is working fin

[2018-08-17 06:40] theodorDiaconu commented on #99
Nice job @jorgeer !

[2018-09-20 11:54] wanecek commented on #89
@FrenchMajesty Did you ever find a way to `--require` modules with meteor's mocha version, e.g. by passing options directly to mocha?